Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: python3 scripts/pre-commit/preci.py
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: python3 scripts/sensitive_info_check/check_ip.py
        language: system
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/|
             bkmonitor/alarm_backends/tests/.*.py
          )

feat: trace_view_config 调整 fields 判断逻辑 # Reviewed, transaction id: 39797
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/trace_handler/view_config.py
  bkmonitor/packages/apm_web/trace/constants.py
Due: flake8, ip

feat: trace_view_config 优化代码 # Reviewed, transaction id: 39642
  bkmonitor/packages/apm_web/handlers/trace_handler/view_config.py
Due: flake8, ip

feat: trace_view_config 调整接口返回数据结构 # Reviewed, transaction id: 39620
  bkmonitor/packages/apm_web/handlers/trace_handler/view_config.py
  bkmonitor/packages/apm_web/trace/mock_data.py
Due: flake8, ip

feat: trace_view_config 修改操作符逻辑 # Reviewed, transaction id: 40810
  bkmonitor/packages/apm_web/handlers/trace_handler/view_config.py
  bkmonitor/packages/apm_web/trace/constants.py
Due: flake8, ip

feat: 新版自定义指标页面-视图能力补充 --story=123746328
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/layout-chart-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/metric-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Due: ip

feat: 维度增加other类型以及优化顶部事件触发方式
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/field-type-icon.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/utils.tsx
Due: ip

feat: 新增@blueking/tdesign-ui
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
Due: ip

feat: 调整样式
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.scss
Due: ip

feat: 新增@blueking/tdesign-ui # Reviewed, transaction id: 40823
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/app.tsx
Due: ip

fix: test_send_mail replace mock data # Reviewed, transaction id: 40830
  bkmonitor/tests/api/cmsi/test_send_mail.py
Due: flake8

feat: 维度列表增加pinyin查询功能
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Due: ip

fix: test_send_mail replace mock data (#6133)
  bkmonitor/tests/api/cmsi/test_send_mail.py
Due: flake8

feat: Metadata: 新增Doris存储表&日志路由创建接口支持选择存储类型 --story=123751268 # Reviewed, transaction id: 40834
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/resources/log_datalink.py
  bkmonitor/metadata/tests/resources/test_log_data_link.py
Due: flake8, ip

feat: 维度增加other类型以及优化顶部事件触发方式 (#6132)
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/field-type-icon.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/utils.tsx
Due: ip

feat: trace检索过滤栏开发
  bkmonitor/webpack/src/trace/components/retrieval-filter/kv-tag.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-input.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-input.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-input.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Due: ip

feat: trace检索开发
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/typing.ts
Due: ip

feat: 索引集列表支持按分组展示 #1010158081123773044
  bklog/apps/log_search/handlers/index_set.py
Due: flake8, ip

fix: 文本溢出展示修复 # Reviewed, transaction id: 40854
  bklog/web/src/views/retrieve-v2/result-comp/update/field-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Due: ip

feat: 索引集列表支持按分组展示 #1010158081123773044
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
Due: flake8, ip

feat: Metadata: 新增Doris存储表&日志路由创建接口支持选择存储类型 --story=123751268 # Reviewed, transaction id: 40862
  bkmonitor/metadata/models/space/space_table_id_redis.py
Due: flake8, ip

feat: trace检索开发 (#6135)
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/typing.ts
Due: ip

feat: trace检索过滤栏开发 (#6134)
  bkmonitor/webpack/src/trace/components/retrieval-filter/kv-tag.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-input.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-input.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-input.tsx
Due: ip

feat: 新增@blueking/tdesign-ui # Reviewed, transaction id: 40871
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
Due: ip

fix: 切换模版表格排序不变 # Reviewed, transaction id: 40872
  bklog/web/src/views/retrieve-v2/result-comp/update/fields-setting.vue
Due: ip

feat: 更新故障表格 # Reviewed, transaction id: 40874
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/meal-content/http-callback.tsx
Due: ip

fix: 文本溢出展示修复 (#6137)
  bklog/web/src/views/retrieve-v2/result-comp/update/field-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Due: ip

feat: 更新故障表格 (#6139)
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/meal-content/http-callback.tsx
Due: ip

fix: 调整首页前置加载逻辑 & 调整默认路由加载逻辑
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/main.js
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/preload.ts
  bklog/web/src/router/index.js
  bklog/web/src/views/manage/index.vue
  bklog/web/src/views/retrieve-core/retrieve-events.ts
  bklog/web/src/views/retrieve-helper.tsx
Due: ip

fix: 调整首页前置加载逻辑 & 调整默认路由加载逻辑 (#6140)
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/main.js
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/preload.ts
  bklog/web/src/router/index.js
  bklog/web/src/views/manage/index.vue
  bklog/web/src/views/retrieve-core/retrieve-events.ts
  bklog/web/src/views/retrieve-helper.tsx
Due: ip

feat: 大范围检索时需要进行分片查询 --story=123729282 (#6111)
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/utils/drf.py
  bklog/config/default.py
Due: flake8, ip

feat: 版本更新提示交互调整 --story=122377549
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.scss
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/check-version copy.ts
Due: ip

feat: BCSCluster 新增 to_meta_dict 的方法
  bkmonitor/bkmonitor/models/bcs_cluster.py
Due: flake8, ip

fix: 修复容器监控对cluster资源的支持 # Reviewed, transaction id: 40895
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
Due: flake8, ip

feat: trace_view_config object 和 nested 字段都不支持显示 # Reviewed, transaction id: 40902
  bkmonitor/packages/apm_web/handlers/trace_handler/view_config.py
Due: flake8, ip

feat: trace_view_config 删除字段别名的括号 # Reviewed, transaction id: 40905
  bkmonitor/packages/apm_web/trace/constants.py
Due: flake8, ip

feat: trace 检索新增视图配置接口 --story=122594569 (#6032)
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/trace_handler/view_config.py
  bkmonitor/packages/apm_web/trace/constants.py
  bkmonitor/packages/apm_web/trace/mock_data.py
Due: flake8, ip

feat: 替换BCSCluster.to_meta_dict中cluster的值为bcs_cluster_id # Reviewed, transaction id: 40911
  bkmonitor/bkmonitor/models/bcs_cluster.py
Due: flake8, ip

feat: 新版自定义指标-相关tips展示统一
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/group-by/components/select-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/group-by/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-result-list/components/edit-panel/panel-key-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-result-list/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/drill-analysis-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/utils.ts
Due: ip

feat: 新版自定义指标-相关tips展示统一 (#6142)
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/group-by/components/select-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/group-by/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-result-list/components/edit-panel/panel-key-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-result-list/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/drill-analysis-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/layout-chart-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/metric-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Due: ip
