Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: scripts/pre-commit/preci.sh
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/sensitive_info_check/ip.sh
        language: script
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/
          )

"fix: 故障自愈适配标准运维无权限错误码 #1010158081126004333"
  bkmonitor/core/drf_resource/contrib/api.py
Due: flake8, ip

perf: 优化consul更新失败的日志
  bkmonitor/metadata/utils/consul_tools.py
Due: flake8, ip

fix: 修复更新标识被覆盖问题
  bkmonitor/metadata/models/custom_report/time_series.py
Due: flake8, ip

feat: 增加前端全局配置url #1010158081118069731
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/webpack/webpack/utils.js
Due: flake8, ip

feat: 增加前端全局配置url --story=118069731 (#2099)
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/webpack/webpack/utils.js
Due: flake8, ip

feat: 优化consul更新异常日志 --story=118069671 (#2098)
  bkmonitor/metadata/utils/consul_tools.py
Due: flake8, ip

fix: 修复指标发现时间变更标签变动 --bug=125699611 (#2070)
  bkmonitor/metadata/models/custom_report/time_series.py
Due: flake8, ip

minor: upgrade gunicorn==20.1.0
  bkmonitor/requirements.txt
Due: none

feat: 日志过滤功能开发 # Reviewed, transaction id: 10095
  bklog/web/src/components/collection-access/components/log-filter/index.scss
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/validator-input.scss
  bklog/web/src/components/collection-access/components/log-filter/validator-input.tsx
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
Due: ip

feat: 【产品功能】仪表盘字段支持后端排序 #1010158081117686797
  bklog/apps/grafana/serializers.py
Due: flake8, ip

feat: 日志过滤功能开发 (#2100)
  bklog/web/src/components/collection-access/components/log-filter/index.scss
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/validator-input.scss
  bklog/web/src/components/collection-access/components/log-filter/validator-input.tsx
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
Due: ip

fix: subject.id empty问题修复 (#2101)
  bklog/apps/log_search/permission.py
  bklog/config/default.py
Due: flake8, ip

feat: 优化仪表盘切换显示 #1010158081118075143 # Reviewed, transaction id: 10100
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Due: ip

fix: 语法转换异常的 case 处理 #1010158081125395021
  bklog/apps/tests/log_commons/test_lucene.py
  bklog/apps/tests/log_search/test_syntax_transformer.py
  bklog/apps/utils/lucene.py
Due: flake8, ip

feat: 图表数据查询增加topo维度翻译 --story=117725691 # Reviewed, transaction id: 10110
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Due: flake8, ip

minor: BK_SHARED_RES_URL支持二进制和容器
  bkmonitor/config/default.py
Due: flake8, ip

fix: 告警详情主机智能检测图表展示所有告警区域数据
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Due: ip

fix: 告警详情主机智能检测图表展示所有告警区域数据 --bug=124607841 (#2105)
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Due: ip

feat: 【产品功能】仪表盘字段支持后端排序 --story=117686797 (#1989)
  bklog/apps/grafana/handlers/query.py
  bklog/apps/grafana/serializers.py
Due: flake8, ip

feat: 【专项】Trace 检索—新拓扑图支持
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.scss
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
Due: ip

feat: 拓扑图边的样式和交互
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.scss
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.tsx
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
Due: ip

feat: 插件调试配置模板内置最大运行时长5min #1010158081118083188
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_aix_powerpc/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_aix_powerpc/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/snmp_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
Due: ip

feat: 字段分析功能开发
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_commons/serializers.py
  bklog/apps/log_commons/views.py
Due: flake8, ip

fix: 修复 eBPF 采集部署内置仪表盘导入失败的问题 #1010158081126047991
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-DNS-Monitoring.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Ingress.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Out-Of-The-Box.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Service-List.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Event.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod.json
Due: flake8, ip

fix: 修复 eBPF 采集部署内置仪表盘导入失败的问题 #1010158081126047991
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod.json
Due: ip

feat: 插件调试配置模板内置最大运行时长5min --story=118083188 (#2106)
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_aix_powerpc/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_aix_powerpc/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/snmp_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
Due: ip

fix: 修复 eBPF 采集部署内置仪表盘导入失败的问题 #1010158081126047991
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-DNS-Monitoring.json
Due: ip

feat: 字段分析功能开发
  bklog/apps/log_commons/serializers.py
  bklog/apps/log_commons/views.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/index_set_views.py
Due: flake8, ip

feat: 代码优化 --story=117725691 # Reviewed, transaction id: 10155
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Due: flake8, ip

feat: 【专项】Trace 检索—新拓扑图支持
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/node-topo.tsx
Due: ip

feat: 代码修改 --story=117725691 # Reviewed, transaction id: 10162
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Due: flake8, ip

feat: 【专项】Trace 检索—新拓扑图支持
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
Due: ip

feat: 图表数据查询增加topo维度翻译 --story=117725691 (#2104)
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Due: flake8, ip

"fix: markdown通知模板渲染字符转义及空行保留 #1010158081126039097"
  bkmonitor/bkmonitor/utils/template.py
Due: flake8, ip

feat: 新增FOOTER_VERSION变量给webpack
  bkmonitor/packages/common/context_processors.py
  bkmonitor/webpack/webpack/utils.js
Due: flake8, ip

feat: 字段分析功能开发
  bklog/apps/log_search/views/index_set_views.py
  bklog/web/dump.rdb
Due: flake8, ip

fix: 语法转换异常的 case 处理 #1010158081125395021
  bklog/apps/tests/log_commons/test_lucene.py
  bklog/apps/utils/lucene.py
Due: flake8, ip

feat: 适配bkmonitorbeat采集新增状态码 #1010158081118087389
  bkmonitor/bkmonitor/utils/kubernetes.py
Due: flake8, ip

fix: [monitor] 修复监控插件平台x86和arm混淆问题 --bug=118249238 (#2014)
  bkmonitor/packages/monitor_web/plugin/manager/exporter.py
Due: flake8, ip

feat: 拓扑图边的状态处理以及耗时面板的交互和展示
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.scss
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.tsx
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
Due: ip
