Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: python3 scripts/pre-commit/preci.py
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: python3 scripts/sensitive_info_check/check_ip.py
        language: system
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/|
             bkmonitor/alarm_backends/tests/.*.py
          )

Update bkmonitor/packages/monitor_web/plugin/process_matcher/main.go
  bkmonitor/packages/monitor_web/plugin/process_matcher/main.go
Due: ip

feat: 进程采集匹配测试二进制 --story=123858441 (#6174)
  bkmonitor/.gitignore
  bkmonitor/packages/monitor_web/plugin/process_matcher/.gitignore
  bkmonitor/packages/monitor_web/plugin/process_matcher/Makefile
  bkmonitor/packages/monitor_web/plugin/process_matcher/go.mod
  bkmonitor/packages/monitor_web/plugin/process_matcher/main.go
  bkmonitor/packages/monitor_web/plugin/process_matcher/main_test.go
Due: ip

fix: 邮件订阅发送外部链接错误问题 #1010158081142038932
  bkmonitor/alarm_backends/service/report/render/dashboard.py
Due: flake8, ip

feat: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配 #1010158081123854511
  bklog/apps/log_unifyquery/handler/base.py
Due: flake8, ip

feat: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配 --story=123854511 (#6167)
  bklog/apps/log_unifyquery/handler/base.py
Due: flake8, ip

fix: 邮件订阅发送外部链接错误问题 --bug=142038932 (#6175)
  bkmonitor/alarm_backends/service/report/render/dashboard.py
Due: flake8, ip

feat: 优化 grafana 导航栏跳转逻辑 #1010158081123867451 # Reviewed, transaction id: 41307
  bklog/bk_dataview/grafana/settings.py
Due: flake8, ip

chore: 调整缩进 # Reviewed, transaction id: 41310
  bklog/bk_dataview/grafana/settings.py
Due: flake8, ip

feat: 优化 grafana 导航栏跳转逻辑 --story=123867451 (#6177)
  bklog/bk_dataview/grafana/settings.py
Due: flake8, ip

feat: 【APM】错误列表增加调用链跳转按钮 #1010158081123709904 # Reviewed, transaction id: 41331
  bkmonitor/apm/models/datasource.py
  bkmonitor/packages/apm_web/meta/resources.py
Due: flake8, ip

feat: 【APM】错误列表增加调用链跳转按钮 --story=123709904 (#6178)
  bkmonitor/apm/models/datasource.py
  bkmonitor/packages/apm_web/meta/resources.py
Due: flake8, ip

feat: 升级 bamboo-pipeline 版本 #1010158081123871912
  bklog/requirements.txt
Due: none

feat: 升级 bamboo-pipeline 版本 --story=123871912 (#6179)
  bklog/requirements.txt
Due: none

feat: [AIOps] 故障详情页面，告警tab下的告警没有鼠标联动 --story=140168581
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-alarm-chart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-chart.scss
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-chart.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/plugins/components/flex-dashboard-panel.tsx
Due: ip

fix: 表格的临时排序失效问题修复 # Reviewed, transaction id: 41355
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

fix: trace 平铺 trace/span 列表代码逻辑优化 # Reviewed, transaction id: 41358
  bkmonitor/packages/apm_web/trace/resources.py
Due: flake8, ip

fix: 表格的临时排序失效问题修复
  bklog/web/package-lock.json
  bklog/web/package.json
Due: ip

feat: trace 检索新的 trace/span 列表接口 --story=123847415 (#6166)
  bkmonitor/packages/apm_web/trace/resources.py
  bkmonitor/packages/apm_web/trace/views.py
  bkmonitor/packages/apm_web/utils.py
Due: flake8, ip

chore: 邮件订阅生成仪表盘链接问题
  bkmonitor/alarm_backends/service/report/render/dashboard.py
Due: flake8, ip

fix: 表格的临时排序失效问题修复 # Reviewed, transaction id: 41382
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

feat: 版本更新提示交互调整 --story=122377549
  bkmonitor/webpack/src/monitor-pc/pages/app.scss
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/check-version.ts
Due: ip

fix: 表格的临时排序失效问题修复 (#6184)
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

feat: 镜像构建改为使用uv进行依赖安装 #1010158081123847581
  bkmonitor/Dockerfile
Due: ip

feat: 支持 apm 下服务关联跨业务日志索引集
  bkmonitor/packages/apm_web/handlers/log_handler.py
Due: flake8, ip

feat: 支持 apm 下服务关联跨业务日志索引集 (#6185)
  bkmonitor/packages/apm_web/handlers/log_handler.py
Due: flake8, ip

fix: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配,bug修复 #1010158081142074464
  bklog/apps/log_unifyquery/handler/base.py
Due: flake8, ip

feat: APM 检索能力对接 UnifyQuery / 后台基础接口 #1010158081123843451
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
  bkmonitor/bkmonitor/data_source/backends/elastic_search/compiler.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/constants/apm.py
Due: flake8, ip

chore: add todo # Reviewed, transaction id: 41303
  bkmonitor/apm/models/datasource.py
Due: flake8, ip

chore: add todo
  bkmonitor/apm/models/datasource.py
Due: flake8, ip

fix: review fix
  bkmonitor/apm/models/datasource.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Due: flake8, ip

feat: 1. 完善收藏夹新开标签页功能 2. 维度列表不需要统计功能
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/index.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Due: ip

fix: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配,bug修复 --bug=142074464 (#6187)
  bklog/apps/log_unifyquery/handler/base.py
Due: flake8, ip

feat: 1. 完善收藏夹新开标签页功能 2. 维度列表不需要统计功能 (#6188)
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/index.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Due: ip
