Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: python3 scripts/pre-commit/preci.py
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: python3 scripts/sensitive_info_check/check_ip.py
        language: system
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/|
             bkmonitor/alarm_backends/tests/.*.py
          )

feat: Metadata: 链路元信息一键订阅 --story=122576957 (#5626)
  bkmonitor/api/cmsi/default.py
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/__init__.py
  bkmonitor/metadata/resources/datalink_operation.py
Due: flake8, ip

fix: 事件检索收藏详情开发
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-detail.tsx
Due: ip

refactor: 避免拉取的重复数据对延迟统计的影响 --story=122555456 # Reviewed, transaction id: 36093
  bkmonitor/alarm_backends/service/access/data/processor.py
Due: flake8, ip

refactor: 避免拉取的重复数据对延迟统计的影响 --story=122555456 (#5632)
  bkmonitor/alarm_backends/service/access/data/processor.py
Due: flake8, ip

fix: 事件检索验收问题修复
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-detail.tsx
Due: ip

fix: 事件检索验收问题修复 (#5633)
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-detail.tsx
Due: ip

feat: kv面板增加控制字段显示/隐藏icon
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
Due: ip

feat: log日志数据表格展开面板添加复制icon # Reviewed, transaction id: 36100
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
Due: ip

feat: kv面板增加控制字段显示/隐藏icon (#5634)
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
Due: ip

fix: 字体调整
  bklog/web/src/App.vue
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
  bklog/web/src/views/retrieve-v3/index.scss
Due: ip

fix: 同步代码
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.scss
Due: ip

feat: 事件检索后台验收问题修复 #1010158081122582720
  bkmonitor/api/unify_query/default.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/unify_query/builder.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
  bkmonitor/packages/monitor_web/grafana/resources/event.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Due: flake8, ip

feat: 事件检索后台验收问题修复 --story=122582720 (#5635)
  bkmonitor/api/unify_query/default.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/unify_query/builder.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
  bkmonitor/packages/monitor_web/grafana/resources/event.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Due: flake8, ip

feat: APM关联事件开发 # Reviewed, transaction id: 36106
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/store/getters.js
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Due: ip

feat: 事件检索问题修复
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Due: ip

feat: 溢出无用代码
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.tsx
Due: ip

feat: APM关联事件开发 # Reviewed, transaction id: 36109
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Due: ip

fix: 修复bug
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.tsx
Due: ip

feat: Metadata: BkBase元数据一致性Redis Watch,DataId统一使用bkbase_data_id --story=122583686 # Reviewed, transaction id: 36110
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/task/test_sync_bkbase_metadata.py
Due: flake8, ip

feat: 事件检索问题修复 (#5636)
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Due: ip

feat: Metadata: BkBase元数据一致性Redis Watch,DataId统一使用bkbase_data_id --story=122583686 # Reviewed, transaction id: 36111
  bkmonitor/metadata/task/tasks.py
Due: flake8, ip

feat: Metadata: BkBase元数据一致性Redis Watch,DataId统一使用bkbase_data_id --story=122583686 (#5637)
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/task/test_sync_bkbase_metadata.py
Due: flake8, ip

feat: 升级blueapps版本
  bklog/requirements.txt
Due: none

feat: 优化日志结果高亮处理性能 #1010158081122584640 # Reviewed, transaction id: 36120
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Due: flake8, ip

feat: 优化日志结果高亮处理性能 --story=122584640 (#5638)
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Due: flake8, ip

fix: 图表分析chart接口bug修复 --bug=140104427 (#5621)
  bklog/apps/log_search/handlers/search/chart_handlers.py
Due: flake8, ip

fix: 容器监控图表折叠刷新出错了 --Bug=140138563 # Reviewed, transaction id: 36122
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/common-simple-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
Due: ip

feat: 【容器监控】网络场景开发-侧弹窗请求参数调整 (#5530)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
Due: ip

feat: k8s网络场景开发 (#5502)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Due: ip

feat: 完成容器监控网络场景开发 (#5506)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-dimension-drilldown.tsx
Due: ip

feat: 【容器监控】网络场景开发 (#5499)
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Due: ip

fix: 修复batch_pull时统计延迟报错的问题 --bug=140140839 # Reviewed, transaction id: 36130
  bkmonitor/alarm_backends/service/access/data/processor.py
Due: flake8, ip
