Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: python3 scripts/pre-commit/preci.py
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: python3 scripts/sensitive_info_check/check_ip.py
        language: system
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/|
             bkmonitor/alarm_backends/tests/.*.py
          )

feat: 告警中心，基于处理套餐名称查询，先查询es再查数据库 (#7467)
  bkmonitor/packages/fta_web/alert/handlers/alert.py
Due: flake8, ip

fix: 日志时间排序功能处理 #1010158081146648630
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/components/result-storage/index.tsx
Due: ip

feat: 【告警策略】策略里只用了智能算法时判断条件优化 #1010158081125874837 # Reviewed, transaction id: 53718
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/tests/core/control/test_aiops_algorithm.py
Due: flake8, ip

fix: 优化单元测试 # Reviewed, transaction id: 53734
  bkmonitor/alarm_backends/tests/core/control/test_aiops_algorithm.py
Due: flake8

feat: 优化get_trigger_configs方法 # Reviewed, transaction id: 53735
  bkmonitor/alarm_backends/core/control/strategy.py
  bkmonitor/alarm_backends/tests/core/control/test_aiops_algorithm.py
Due: flake8, ip

feat: 【告警策略】策略里只用了智能算法时判断条件优化 --story=125874837 (#7520)
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/core/control/strategy.py
  bkmonitor/alarm_backends/tests/core/control/test_aiops_algorithm.py
Due: flake8, ip

fix: top_n接口，修复bucket_count字段返回不是准确的桶的数量 --bug=146428402 (#7518)
  bkmonitor/packages/fta_web/alert/handlers/alert.py
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert/utils.py
Due: flake8, ip

feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-pop.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-pop.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/type/query-config.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/variable-name-input.scss
Due: ip

feat: 告警推送的kafka库升级到confluent_kafka #1010158081126504778
  bkmonitor/alarm_backends/service/fta_action/message_queue/client.py
  bkmonitor/alarm_backends/service/fta_action/message_queue/processor.py
Due: flake8, ip

feat: 告警推送的kafka库升级到confluent_kafka #1010158081126504778
  bkmonitor/alarm_backends/service/fta_action/message_queue/client.py
Due: flake8, ip

fix: 日志聚类总开关功能修复 #1010158081146665422
  bklog/web/src/components/bklog-popover/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Due: ip

fix: conflict
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Due: ip

feat: Metadata: 多租户业务数据归属优化 #1010158081126528701
  bkmonitor/alarm_backends/management/commands/hash_ring.py
  bkmonitor/alarm_backends/management/story/kernel_story.py
  bkmonitor/api/cmdb/default.py
  bkmonitor/api/metadata/default.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/management/commands/add_bkm_statistics.py
  bkmonitor/bkmonitor/utils/tenant.py
  bkmonitor/config/default.py
  bkmonitor/metadata/management/commands/deploy_official_plugin.py
  bkmonitor/metadata/migrations/0182_datalinkresource_datalinkresourceconfig.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/data_link/__init__.py
  bkmonitor/metadata/models/data_link/resource.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/data_link/test_compose_data_link_configs.py
  bkmonitor/metadata/tests/data_link/test_config.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
  bkmonitor/packages/monitor_web/strategies/user_groups.py
  bkmonitor/packages/monitor_web/tests/conftest.py
  bkmonitor/packages/monitor_web/tests/strategies/loader/test_gse_loader.py
Due: flake8, ip

feat: Metadata: 多租户业务数据归属优化 #1010158081126528701
  bkmonitor/metadata/tests/data_link/test_data_link.py
Due: flake8, ip

feat: 优先匹配最高匹配度的内容 # Reviewed, transaction id: 53786
  bklog/web/src/views/retrieve-v2/result-comp/update/field-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Due: ip

fix: 日志聚类全局功能开关恢复 (#7523)
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Due: ip

feat: 优先匹配最高匹配度的内容 # Reviewed, transaction id: 53787
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
Due: ip

feat: 优先匹配最高匹配度的内容 # Reviewed, transaction id: 53788
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
Due: ip

fix: 日志时间排序功能处理 --bug=146648630 (#7519)
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/components/result-storage/index.tsx
Due: ip

fix: 检索结果在二次触发检索时横向滚动失效 --bug=146573713 (#7509)
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

fix: 日志聚类总开关功能修复 --bug=146665422 (#7522)
  bklog/web/src/components/bklog-popover/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Due: ip

feat: 查询模版配置开发 (#7508)
  bkmonitor/webpack/src/monitor-pc/components/cycle-input/cycle-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-pop.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-pop.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/interval/interval-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/interval/interval-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/interval/interval-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/type/query-config.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/variable-name-input.scss
Due: ip

feat: Metadata: 多租户业务数据归属优化 #1010158081126528701
  bkmonitor/apm/core/discover/precalculation/storage.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/bkmonitor/event_plugin/accessor.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/task/sync_cmdb_relation.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/packages/monitor_web/custom_report/resources/event.py
  bkmonitor/packages/monitor_web/custom_report/resources/metric.py
Due: flake8, ip

feat: flattened字段类型清洗支持 --story=126322347 (#7497)
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/utils/es_config.py
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/tests/log_databus/test_etl.py
Due: flake8, ip

feat: 聚类模板更新从聚类配置接口中抽离 #1010158081126160594
  bklog/apps/log_clustering/handlers/regex_template.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/regex_template_views.py
Due: flake8, ip

feat: 变量组件开发 (#7504)
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/condition-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/condition-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/dimension-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/function-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/function-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/general/general-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/general/general-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.tsx
Due: ip

feat: 聚类正则模板参数调整 #1010158081126540600
  bklog/apps/log_clustering/handlers/regex_template.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/regex_template_views.py
Due: flake8, ip

fix: 别名的传参bug修复 #1010158081146320292
  bklog/apps/log_databus/models.py
Due: flake8, ip

feat: Trace详情 AI 小鲸功能 --Story=126197331
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
Due: ip

fix: 别名的传参bug修复 #1010158081146320292
  bklog/apps/log_databus/migrations/0044_remove_cleantemplate_alias_settings.py
Due: flake8, ip

feat: Metadata: 多租户业务数据归属优化 #1010158081126528701
  bkmonitor/bkmonitor/utils/tenant.py
  bkmonitor/metadata/models/bkdata/result_table.py
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/data_link/data_link_configs.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_source.py
Due: flake8, ip

feat: 日志平台- 收藏功能重构 --story=126517762
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/index.scss
  bklog/web/src/views/retrieve-v3/favorite/hooks/useFavorite.ts
Due: ip

fix: 别名的传参bug修复 --bug=146320292 (#7432)
  bklog/apps/log_databus/handlers/clean.py
  bklog/apps/log_databus/handlers/collector/base.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/models.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/tasks/collector.py
  bklog/apps/log_databus/views/clean_views.py
  bklog/apps/log_databus/views/collector_views.py
  bklog/apps/tests/log_databus/test_clean_template.py
Due: flake8, ip

fix: 去掉字段名缓存 # Reviewed, transaction id: 53816
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
Due: ip

fix: 去掉字段名缓存 (#7529)
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
Due: ip

fix: 用户日志平台首次加载业务列表默认选择无权限业务问题 & 默认选择索引集无数据问题修复 #1010158081146681617
  bklog/web/src/preload.ts
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Due: ip
