Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: python3 scripts/sensitive_info_check/check_ip.py
  language: system

fix: json模式字段名调试转义处理 # Reviewed, transaction id: 49407
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
Due: ip

fix: 获取结果表缓存的bug修复 --bug=144958638 (#7075)
  bklog/apps/api/modules/transfer.py
Due: flake8, ip

fix: 修复xss
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-rule-dialog.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-rule-dialog.tsx
Due: ip

feat: 【产品功能】告警分派支持复制多行到条件框 --story=122849759 (#7038)
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
Due: ip

fix: test_grep_logic单测问题修复 --bug=144537755 (#7042)
  bklog/apps/tests/log_search/test_grep_logic.py
Due: flake8, ip

fix: 修复检索结果分词优化导致的Resize计算问题 (#7046)
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-cell.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/use-lazy-render.tsx
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Due: ip

feat: 总条数大于0且趋势图展开时在请求数据接口
  bklog/web/src/views/retrieve-v2/search-result-chart/index-new.tsx
Due: ip

fix: json模式字段名调试转义处理 # Reviewed, transaction id: 49426
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
Due: ip

fix: json模式字段名调试转义处理 (#7078)
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
Due: ip

fix: patch tarfile # Reviewed, transaction id: 49435
  bkmonitor/Dockerfile
Due: ip

fix: patch tarfile # Reviewed, transaction id: 49437
  bkmonitor/Dockerfile
Due: ip

feat:LLM相关特性- 故障诊断 story==119032343 # Reviewed, transaction id: 49438
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/handle-search.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-header.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-view/failure-view.tsx
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.scss
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
  bkmonitor/webpack/src/trace/static/img/ai-bot-bg.svg
Due: ip

fix: 修复xss (#7077)
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-rule-dialog.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-rule-dialog.tsx
Due: ip

feat: 用户选择器API优化 #1010158081125678457
  bkmonitor/packages/monitor_web/commons/user/views.py
Due: flake8, ip

feat: 基于 unify-query 配置字段查询别名 #1010158081124515529
  bklog/apps/api/base.py
  bklog/apps/log_databus/handlers/collector/base.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Due: flake8, ip

feat: 用户选择器API优化 --story=125678457 (#7079)
  bkmonitor/packages/monitor_web/commons/user/views.py
Due: flake8, ip

feat:LLM相关特性- 故障诊断 story==119032343 # Reviewed, transaction id: 49457
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
Due: ip

feat: 基于 unify-query 配置字段查询别名 #1010158081124515529
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/views/search_views.py
Due: flake8, ip

feat: 基于 unify-query 配置字段查询别名 #1010158081124515529
  bklog/apps/log_search/handlers/index_set.py
Due: flake8, ip

feat: 轮值规则命中多个规则时，需要新增配置：支持是否支命中第一个规则即可。 # Reviewed, transaction id: 49462
  bkmonitor/alarm_backends/service/fta_action/utils.py
  bkmonitor/bkmonitor/action/serializers/strategy.py
Due: flake8, ip

feat: 轮值规则命中多个规则时，需要新增配置：支持是否支命中第一个规则即可。
  bkmonitor/bkmonitor/iam/permission.py
Due: flake8, ip

feat: 升级urllib3版本
  bklog/requirements.txt
Due: none

chore: bk-collector配置下发逻辑优化
  bkmonitor/metadata/task/auto_deploy_proxy.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/metadata/task/ping_server.py
Due: flake8, ip

feat: Metadata: 多租户--新增GSESDK请求处理接口,异步处理以保障响应速度 #1010158081124228531
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/task/tasks.py
Due: flake8, ip

fix: 导入导出批量添加主机报错问题 #1010158081145021990
  bkmonitor/packages/monitor_web/models/export_import.py
Due: flake8, ip

feat: Github CodeQL Dependabot alerts --Story=125683280
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-api/package.json
Due: ip

feat: Github CodeQL Dependabot alerts --Story=125683280 (#7082)
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-api/package.json
Due: ip

Potential fix for code scanning alert no. 225: Workflow does not contain permissions
  .github/workflows/label_check.yml
Due: ip

Potential fix for code scanning alert no. 225: Workflow does not contain permissions (#7083)
  .github/workflows/label_check.yml
Due: ip

fix: 指标缓存刷新业务插件指标仅有一个指标 #1010158081145024789
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Due: flake8, ip

fix: 导入导出批量添加主机报错问题 --bug=145021990 (#7081)
  bkmonitor/packages/monitor_web/models/export_import.py
Due: flake8, ip

fix: 指标缓存刷新业务插件指标仅有一个指标 --bug=145024789 (#7084)
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Due: flake8, ip

feat: 重试action脚本 --story=124960930 (#6827)
  bkmonitor/scripts/retry_action_script.py
Due: flake8, ip

perf: 优化空服务名的发现逻辑 #1010158081125686264
  bkmonitor/apm/core/discover/node.py
Due: flake8, ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/|
   bkmonitor/alarm_backends/tests/.*.py
)

