Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: scripts/sensitive_info_check/ip.sh
  language: script

feat: 支持跨层级filter的资源列表过滤
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
  bkmonitor/packages/monitor_web/k8s/scenario/__init__.py
  bkmonitor/packages/monitor_web/k8s/scenario/performance.py
  bkmonitor/packages/monitor_web/tests/k8s/test_filter.py
Due: flake8, ip

fix: 修复 profiling 数据针对 inline 函数调用堆栈不正确问题 # Reviewed, transaction id: 27031
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
Due: flake8, ip

fix: 修复字段计算宽度问题
  bklog/web/src/common/util.js
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

fix: 修复字段计算宽度问题
  bklog/web/src/store/index.js
Due: ip

feat: 新版容器监控图表 # Reviewed, transaction id: 27041
  bkmonitor/webpack/src/monitor-pc/constant/constant.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-var-select/filter-var-select-simple.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/utils.ts
Due: ip

fix: UI查询转化为es的QueryString-问题修复 #1010158081135676537
  bklog/apps/log_esquery/esquery/dsl_builder/query_builder/query_builder_logic.py
  bklog/apps/log_search/constants.py
  bklog/apps/tests/log_search/test_querystring.py
Due: flake8, ip

feat: 新增首页常用查询筛选项设置功能 # Reviewed, transaction id: 27047
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/monitor-echarts/trend-chart.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/store/retrieve.js
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-status/daily-chart.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-status/minute-chart.vue
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-select.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.scss
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/setting-pop.scss
  bklog/web/src/views/retrieve-v2/search-bar/setting-pop.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
Due: ip

fix: 修复 profiling 数据针对 inline 函数调用堆栈不正确问题 (#4442)
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
Due: flake8, ip

feat: object支持别名(master) #1010158081121057197
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Due: flake8, ip

feat: 调整项目结构以及下钻等方法的入参
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Due: ip

fix: UI查询转化为es的QueryString-问题修复 --bug=135676537 (#4441)
  bklog/apps/log_esquery/esquery/dsl_builder/query_builder/query_builder_logic.py
  bklog/apps/log_search/constants.py
  bklog/apps/tests/log_search/test_querystring.py
Due: flake8, ip

feat: 获取资源列表分页梳理
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
Due: flake8, ip

feat: 调用分析 - 纬度分布图表下钻 --story=120798093
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/flex-dashboard-panel.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-bar-chart/caller-bar-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-bar-chart/caller-bar-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-pie-chart/caller-pie-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-pie-chart/caller-pie-chart.tsx
Due: ip

feat: 调用分析 - 纬度分布图表下钻 --story=120798093
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-bar-chart/caller-bar-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-pie-chart/caller-pie-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-pie-chart/caller-pie-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
Due: ip

chore: trace打点json解析报错问题
  bkmonitor/bkmonitor/trace/django.py
  bkmonitor/patches/json.py
Due: flake8, ip

docs: 文档更新
  bkmonitor/packages/monitor_web/k8s/readme.md
Due: ip

feat: 修复filterBy选择后报错问题
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Due: ip

fix: 优化初始化逻辑
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

fix: workload维度只能选择一个
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
Due: ip

fix: 索引集切换字段列表请求逻辑 # Reviewed, transaction id: 27057
  bklog/web/src/common/util.js
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Due: ip

feat: 调整项目结构以及下钻等方法的入参 (#4443)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Due: ip

fix: 修复部署k8s为字节的问题 #1010158081135694225
  bkmonitor/apm/core/application_config.py
Due: flake8, ip

fix: 索引集切换字段列表请求逻辑 # Reviewed, transaction id: 27062
  bklog/web/src/store/index.js
Due: ip

chore: json适配set类型
  bkmonitor/patches/json.py
Due: flake8, ip

fix: 修复部署k8s为字节的问题 --bug=135694225 (#4447)
  bkmonitor/apm/core/application_config.py
Due: flake8, ip

feat: dnspython版本升级到2.3.0 --story=121242270 (#4422)
  bkmonitor/bkmonitor/migrations/0011_anomalyrecord_count.py
  bkmonitor/bkmonitor/utils/dns_resolve.py
  bkmonitor/requirements.txt
Due: flake8, ip

fix: 修复 profiling 数据在 graph 展示下数据计算异常问题 # Reviewed, transaction id: 27071
  bkmonitor/packages/apm_web/profile/diagrams/base.py
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
Due: flake8, ip

fix: 修复样式z-index问题 # Reviewed, transaction id: 27072
  bklog/web/src/views/retrieve-v2/index.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/index.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

fix: 修复 profiling 数据在 graph 展示下数据计算异常问题 (#4448)
  bkmonitor/packages/apm_web/profile/diagrams/base.py
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
Due: flake8, ip

"feat: typing-extensions升级&betterproto去除特殊安装流程 #1010158081121234025"
  bkmonitor/requirements.txt
Due: none

feat: typing-extensions升级&betterproto去除特殊安装流程 --story=121234025 (#4412)
  bkmonitor/Dockerfile
  bkmonitor/requirements.txt
Due: ip

chore: json patch适配bytes
  bkmonitor/apm/core/platform_config.py
  bkmonitor/patches/json.py
Due: flake8, ip

feat: 新版容器监控图表 # Reviewed, transaction id: 27077
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
Due: ip

fix: 修复 profiling 数据查询异常，在堆栈有收尾重叠的场景下 # Reviewed, transaction id: 27078
  bkmonitor/packages/apm_web/profile/diagrams/base.py
Due: flake8, ip

fix: 修复 profiling 数据查询异常，在堆栈有收尾重叠的场景下 (#4449)
  bkmonitor/packages/apm_web/profile/diagrams/base.py
Due: flake8, ip

feat: 容器场景开发table组件调整 # Reviewed, transaction id: 27080
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Due: ip

fix: 字段设置相关保存逻辑更新列宽 # Reviewed, transaction id: 27081
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-row-attributes.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Due: ip

chore: 调整json patches
  bkmonitor/patches/json.py
Due: flake8, ip

feat: 容器场景开发table组件调整 (#4450)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Due: ip

Revert "Revert "feat: celery版本升级到5.1.2 --story=121220239 (#4410)""
  bkmonitor/alarm_backends/service/access/tasks.py
  bkmonitor/alarm_backends/service/alert/builder/tasks.py
  bkmonitor/alarm_backends/service/alert/manager/tasks.py
  bkmonitor/alarm_backends/service/composite/tasks.py
  bkmonitor/alarm_backends/service/converge/shield/tasks.py
  bkmonitor/alarm_backends/service/converge/tasks.py
  bkmonitor/alarm_backends/service/detect/tasks.py
  bkmonitor/alarm_backends/service/fta_action/tasks/action_tasks.py
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
  bkmonitor/alarm_backends/service/fta_action/tasks/noise_reduce.py
  bkmonitor/alarm_backends/service/nodata/tasks.py
  bkmonitor/alarm_backends/service/preparation/tasks.py
  bkmonitor/alarm_backends/service/scheduler/app.py
  bkmonitor/alarm_backends/service/scheduler/tasks/api_cron.py
  bkmonitor/alarm_backends/service/scheduler/tasks/cron.py
  bkmonitor/alarm_backends/service/scheduler/tasks/image_exporter.py
  bkmonitor/alarm_backends/service/scheduler/tasks/report_cron.py
  bkmonitor/api/bcs/tasks.py
  bkmonitor/bkm_ipchooser/tools/translation.py
  bkmonitor/core/drf_resource/tasks.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/tasks.py
  bkmonitor/packages/fta_web/action/tasks.py
  bkmonitor/packages/fta_web/tasks.py
  bkmonitor/packages/monitor_web/tasks.py
  bkmonitor/requirements.txt
Due: flake8, ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/
)

