Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: python3 scripts/sensitive_info_check/check_ip.py
  language: system

feat: keyword查询支持自动检测 __dist_05
  bklog/apps/log_unifyquery/handler/base.py
Due: flake8, ip

feat: 镜像构建改为使用uv进行依赖安装 #1010158081123847581
  bkmonitor/.dockerignore
  bkmonitor/.gitignore
  bkmonitor/Dockerfile
  bkmonitor/README.md
  bkmonitor/pyproject.toml
  bkmonitor/requirements.txt
  bkmonitor/requirements_aidev.txt
  bkmonitor/uv.lock
Due: ip

feat: 镜像构建改为使用uv进行依赖安装 #1010158081123847581
  bkmonitor/README.md
Due: ip

feat: 镜像构建改为使用uv进行依赖安装 #1010158081123847581
  bkmonitor/README.md
  bkmonitor/docs/logo.png
Due: ip

feat: keyword查询支持自动检测 __dist_05 (#6162)
  bklog/apps/log_esquery/esquery/dsl_builder/query_builder/query_builder_logic.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_unifyquery/handler/base.py
  bklog/apps/tests/log_esquery/test_serializers.py
  bklog/apps/tests/log_search/test_search.py
  bklog/apps/tests/log_unifyquery/__init__.py
  bklog/apps/tests/log_unifyquery/test_base.py
Due: flake8, ip

feat: 【APM / Trace检索】Trace检索字段分析优化序列化器校验 #1010158081123741084
  bkmonitor/apm/constants.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/serializers.py
  bkmonitor/packages/monitor_web/data_explorer/event/constants.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
Due: flake8, ip

feat: 【APM / Trace检索】Trace检索字段分析能力 --story=123741084 (#6129)
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/core/handlers/query/span_query.py
  bkmonitor/apm/core/handlers/query/trace_query.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/serializers.py
  bkmonitor/apm/views.py
  bkmonitor/packages/monitor_web/data_explorer/event/constants.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
Due: flake8, ip

fix: 运营指标上报异常处理: notice_receiver_count #1010158081142026677 # Reviewed, transaction id: 41200
  bkmonitor/packages/monitor_web/statistics/v2/user_group.py
Due: flake8, ip

fix: 运营指标上报异常处理: notice_receiver_count --bug=142026677 (#6164)
  bkmonitor/packages/monitor_web/statistics/v2/user_group.py
Due: flake8, ip

feat: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配 #1010158081123842016
  bklog/apps/log_unifyquery/handler/base.py
Due: flake8, ip

chore: 增加.env.leave gitignore
  bkmonitor/.gitignore
Due: ip

feat: trace 检索新的 trace/span 列表接口 #1010158081123847415 # Reviewed, transaction id: 41215
  bkmonitor/packages/apm_web/trace/resources.py
  bkmonitor/packages/apm_web/trace/views.py
  bkmonitor/packages/apm_web/utils.py
Due: flake8, ip

feat: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配 #1010158081123854511
  bklog/apps/log_unifyquery/handler/base.py
Due: flake8, ip

test: 重新调整了一下单元测试，主要是在格式上做一些调整
  bkmonitor/packages/monitor_web/tests/k8s_v1/test_meta.py
  bkmonitor/packages/monitor_web/tests/k8s_v1/test_promql.py
  bkmonitor/packages/monitor_web/tests/k8s_v1/test_resource.py
  bkmonitor/packages/monitor_web/tests/k8s_v1/test_resource_with_capacity.py
  bkmonitor/packages/monitor_web/tests/k8s_v1/test_resource_with_network.py
  bkmonitor/packages/monitor_web/tests/k8s_v1/test_resource_with_performance.py
  bkmonitor/packages/monitor_web/tests/k8s_v1/test_scenario.py
Due: flake8, ip

test: 删除旧的单元测试 # Reviewed, transaction id: 41221
  bkmonitor/packages/monitor_web/tests/new_k8s/__init__.py
  bkmonitor/packages/monitor_web/tests/new_k8s/conftest.py
  bkmonitor/packages/monitor_web/tests/new_k8s/test_network.py
  bkmonitor/packages/monitor_web/tests/new_k8s/test_performance.py
  bkmonitor/packages/monitor_web/tests/new_k8s/test_resource.py
Due: flake8, ip

feat: 【分派】调试结果样式优化 --story=123789574
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
Due: ip

feat: trace检索收藏及过滤栏功能优化
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/favorite-info/render-favorite-query.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/group-tree/components/render-favorite/components/edit-favorite.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/types.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Due: ip

perf: 优化 apm 接口列表进入性能，如果有指定接口，则只需加载一个即可
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/metric/resources.py
Due: flake8, ip

perf: 优化 apm 接口列表进入性能，如果有指定接口，则只需加载一个即可 (#6169)
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/metric/resources.py
Due: flake8, ip

feat: trace检索收藏及过滤栏功能优化 (#6168)
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/favorite-info/render-favorite-query.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/group-tree/components/render-favorite/components/edit-favorite.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/types.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Due: ip

feat: trace_view_config 调整 fields 判断逻辑
  bkmonitor/packages/apm_web/trace/constants.py
Due: flake8, ip

feat: trace_view_config 增加操作符选项 # Reviewed, transaction id: 41248
  bkmonitor/packages/apm_web/trace/constants.py
  bkmonitor/packages/apm_web/trace/resources.py
  bkmonitor/packages/apm_web/trace/serializers.py
Due: flake8, ip

feat: Metadata: 新增计算平台结果表同步周期任务 --story=123849913 # Reviewed, transaction id: 41252
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/bkbase.py
  bkmonitor/metadata/task/utils.py
  bkmonitor/metadata/tests/task/test_sync_bkbase_metadata.py
  bkmonitor/metadata/utils/bkbase.py
Due: flake8, ip

feat: 自定义上报地址改成动态展示 # Reviewed, transaction id: 41257
  bklog/web/src/services/retrieve.js
  bklog/web/src/views/manage/manage-access/custom-report/components/intro-panel.vue
Due: ip

feat: 自定义上报地址改成动态展示 (#6172)
  bklog/web/src/services/retrieve.js
  bklog/web/src/views/manage/manage-access/custom-report/components/intro-panel.vue
Due: ip

feat: 升级 opentelemetry 依赖版本 #1010158081123858174
  bklog/requirements.txt
Due: none

feat: 升级 opentelemetry 依赖版本 --story=123858174 (#6173)
  bklog/requirements.txt
Due: none

feat: 进程采集匹配测试二进制 #1010158081123858441
  bkmonitor/packages/monitor_web/plugin/process_matcher/.gitignore
  bkmonitor/packages/monitor_web/plugin/process_matcher/Makefile
  bkmonitor/packages/monitor_web/plugin/process_matcher/go.mod
  bkmonitor/packages/monitor_web/plugin/process_matcher/main.go
  bkmonitor/packages/monitor_web/plugin/process_matcher/main_test.go
Due: ip

feat: 进程采集匹配测试二进制 #1010158081123858441
  bkmonitor/packages/monitor_web/plugin/process_matcher/main.go
  bkmonitor/packages/monitor_web/plugin/process_matcher/main_test.go
Due: ip

feat: 进程采集匹配测试二进制 #1010158081123858441
  bkmonitor/.gitignore
Due: ip

minor: 后台指标上报异常调整分片长度默认阈值
  bkmonitor/core/prometheus/tools.py
Due: flake8, ip

feat: Metadata: 新增计算平台结果表同步周期任务,优化子流程同步逻辑,避免全量拉取 --story=123849913 # Reviewed, transaction id: 41268
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/task/bkbase.py
  bkmonitor/metadata/tests/task/test_sync_bkbase_metadata.py
  bkmonitor/metadata/utils/bkbase.py
Due: flake8, ip

feat: 进程采集匹配测试二进制 #1010158081123858441
  bkmonitor/packages/monitor_web/plugin/process_matcher/Makefile
  bkmonitor/packages/monitor_web/plugin/process_matcher/main.go
Due: ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/|
   bkmonitor/alarm_backends/tests/.*.py
)

