Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: scripts/pre-commit/preci.sh
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/sensitive_info_check/ip.sh
        language: script
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/
          )

fix: 主被调开发自测问题修复 (#3623)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Due: ip

feat: 主被调前端开发 # Reviewed, transaction id: 22212
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-heatmap/apm-heatmap.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
Due: ip

Origin caller callee new (#3624)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-heatmap/apm-heatmap.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
Due: ip

feat: 事件中心查询语句报错： 处理阶段 : 已通知 AND 状态 : 未恢复 #1010158081120115468 # Reviewed, transaction id: 22214
  bkmonitor/packages/fta_web/alert/utils.py
Due: flake8, ip

feat: 主被调前端开发 # Reviewed, transaction id: 22215
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-heatmap/apm-heatmap.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Due: ip

Origin caller callee new (#3625)
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-heatmap/apm-heatmap.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Due: ip

feat: 下载优化size --story=120326599 (#3570)
  bklog/apps/log_search/handlers/search/async_export_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/views/search_views.py
Due: flake8, ip

minor: 批量启停策略serializers修复
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Due: flake8, ip

feat: 新版ES索引轮转： 新增V2轮转任务和对应特性开关，不再使用delay异步，每个集群单独一个线程单步执行，减少master负载，同步索引创建时间 --story=120421276
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/task/test_refresh_es_storage.py
Due: flake8, ip

feat: 新版ES索引轮转：复用manage_es_storage,通过白名单进行控制 --story=120421276
  bkmonitor/metadata/models/storage.py
Due: flake8, ip

feat: 新版ES索引轮转：复用manage_es_storage,通过白名单进行控制 --story=120421276
  bkmonitor/metadata/task/config_refresh.py
Due: flake8, ip

chore: requirements.txt 冲突处理
  bkmonitor/requirements.txt
Due: none

fix: 字段分析全文检索条件适配 #1010158081133020485
  bklog/apps/log_unifyquery/handler.py
Due: flake8, ip

feat: 新版ES索引轮转： 新增V2轮转任务和对应特性开关，不再使用delay异步，每个集群单独一个线程单步执行，减少master负载，同步索引创建时间 --story=120421276 (#3619)
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/storage/__init__.py
  bkmonitor/metadata/tests/task/test_refresh_es_storage.py
  bkmonitor/metadata/utils/basic.py
Due: flake8, ip

minor: requirements.txt回退依赖typing-extensions==3.7.4.3
  bkmonitor/requirements.txt
Due: none

"feat: 服务拨测支持自定义标签配置 #1010158081120238699"
  bkmonitor/packages/monitor_web/commons/data_access.py
Due: flake8, ip

refactor: 修改故障根因拓扑图按照边聚合的逻辑 --story=120119066
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Due: flake8, ip

feat: 优化JOSON多层展示样式&超出省略
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/json-view/index.scss
  bklog/web/src/global/lazy-render.vue
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-json-root.ts
  bklog/web/src/hooks/use-truncate-text.ts
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
Due: ip

优化JOSON多层展示样式&超出省略 (#3629)
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/json-view/index.scss
  bklog/web/src/global/json-view/index.ts
  bklog/web/src/global/lazy-render.vue
  bklog/web/src/global/utils/json-editor-task.ts
  bklog/web/src/global/utils/pop-instance-util.ts
  bklog/web/src/global/utils/segment-pop-instance.ts
  bklog/web/src/global/utils/task-pool.ts
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-json-root.ts
  bklog/web/src/hooks/use-segment-pop.ts
  bklog/web/src/hooks/use-truncate-text.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve-v2/result-comp/table-column.vue
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.tsx
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve-v2/segment-pop.scss
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
Due: ip

feat: 主被调前端开发 # Reviewed, transaction id: 22229
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/components/collection-dialog.vue
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/query-criteria-item.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-collect/chart-collect.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-heatmap/apm-heatmap.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/method.ts
  bkmonitor/webpack/src/monitor-ui/package.json
Due: ip

Origin caller callee new (#3630)
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/components/collection-dialog.vue
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/query-criteria-item.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-collect/chart-collect.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-heatmap/apm-heatmap.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/method.ts
  bkmonitor/webpack/src/monitor-ui/package.json
Due: ip

feat: 主被调前端开发 # Reviewed, transaction id: 22232
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.scss
Due: ip

Origin caller callee new (#3631)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.scss
Due: ip

feat: 索引轮转：create_or_update_aliases中，将创建和删除操作拆分 --story=120431741
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
Due: flake8, ip

refactor: 修改故障根因拓扑图按照边聚合的逻辑 --story=120119066 (#3627)
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Due: flake8, ip

feat: AsCode支持策略动态分组目标 --story=120319060 (#3557)
  bkmonitor/bkmonitor/as_code/parse.py
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/packages/config_migrate/migrate.py
  bkmonitor/packages/monitor_web/as_code/resources.py
Due: flake8, ip

feat: 保留version_log_html文件夹避免web 进程偶发启动失败 --story=120304092 (#3541)
  bkmonitor/version_logs_html/.gitkeep
Due: ip

fix: 新业务偶发grafana初始化缺少admin用户权限 --bug=132687483 (#3516)
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Due: flake8, ip

feat: 服务拨测支持自定义标签配置 --story=120238699 (#3454)
  bkmonitor/packages/monitor/migrations/0104_auto_20241024_2010.py
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_api/filtersets.py
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
  bkmonitor/packages/monitor_web/uptime_check/views.py
Due: flake8, ip

fix: 修复日志tab页面traceid错误问题 --bug=132980273 (#3617)
  bkmonitor/packages/apm_web/log/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Due: flake8, ip

fix: 保存仪表盘报错问题 --bug=133002039 (#3633)
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-db-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-messaging-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-remote_service-http-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-topo.json
Due: ip

同步master代码 (#3634)
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/bkmonitor/as_code/parse.py
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/packages/apm_web/log/resources.py
  bkmonitor/packages/config_migrate/migrate.py
  bkmonitor/packages/monitor/migrations/0104_auto_20241024_2010.py
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_api/filtersets.py
  bkmonitor/packages/monitor_web/as_code/resources.py
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/packages/monitor_web/grafana/provisioning.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-db-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-messaging-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-remote_service-http-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-topo.json
  bkmonitor/packages/monitor_web/uptime_check/resources.py
  bkmonitor/packages/monitor_web/uptime_check/views.py
  bkmonitor/version_logs_html/.gitkeep
Due: flake8, ip

feat: 索引轮转：create_or_update_aliases中，将创建和删除操作拆分 --story=120431741
  bkmonitor/config/default.py
  bkmonitor/metadata/models/storage.py
Due: flake8, ip

feat: 索引轮转：create_or_update_aliases中，将创建和删除操作拆分 --story=120431741
  bkmonitor/metadata/models/storage.py
Due: flake8, ip

fix: Json展开偏移量修改
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/json-view/index.scss
Due: ip

fix: Json展开偏移量修改 (#3635)
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/json-view/index.scss
Due: ip

feat: 主被调前端开发 # Reviewed, transaction id: 22244
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Due: ip

Origin caller callee new (#3636)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Due: ip
