Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: python3 scripts/sensitive_info_check/check_ip.py
  language: system

chore: get_request_tenant_id问题处理
  bkmonitor/bkmonitor/utils/request.py
Due: flake8, ip

fix: 修复日志聚类责任人设置问题
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
Due: ip

feat: 聚类调试支持最大长度等条件 (#6757)
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/utils/pattern.py
  bklog/apps/log_clustering/views/clustering_config_views.py
Due: flake8, ip

feat: AIOPS：Agent-SDK引入监控平台,Django 依赖问题适配 --story=124580393
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Due: ip

feat: AIOPS：Agent-SDK引入监控平台,APIGW 根域名配置 --story=124580393 # Reviewed, transaction id: 45941
  bkmonitor/ai_agents/resources/resources.py
Due: flake8, ip

feat: vue3人员选择器组件封装值改变后触发事件修改 # Reviewed, transaction id: 45942
  bkmonitor/webpack/src/trace/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-edit-dialog.tsx
Due: ip

fix: 修复日志聚类责任人设置问题 (#6768)
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
Due: ip

fix: 【APM】服务下的日志页面往上滑的时候，左边的级别会消失
  bklog/web/src/views/retrieve-v3/monitor/monitor.scss
Due: ip

fix: 全局配置保存失效问题修复
  bklog/web/src/views/retrieve-v2/sub-bar/bar-global-setting.tsx
Due: ip

feat: 故障诊断
  bkmonitor/webpack/src/trace/pages/failure/failure-nav/failure-nav.tsx
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.scss
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
  bkmonitor/webpack/src/trace/static/img/failure/AI.png
  bkmonitor/webpack/src/trace/static/img/failure/ai-title-bg.png
Due: ip

fix: 【APM】服务下的日志页面往上滑的时候，左边的级别会消失 --bug=143458873 (#6769)
  bklog/web/src/views/retrieve-v3/monitor/monitor.scss
Due: ip

feat: 日志聚类支持配置列表 (#6727)
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/tests/log_clustering/dataflow_test/__init__.py
  bklog/apps/tests/log_clustering/dataflow_test/test_data_flow.py
  bklog/apps/tests/log_clustering/dataflow_test/test_serializers.py
Due: flake8, ip

feat: 添加告警中心页面及相关路由配置 # Reviewed, transaction id: 45947
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.tsx
  bkmonitor/webpack/src/trace/router/modules/alarm-center.ts
  bkmonitor/webpack/src/trace/router/router-config.ts
Due: ip

fix: 图表分析别名映射错误的问题 --bug=143459203 (#6765)
  bklog/apps/log_search/serializers.py
Due: flake8, ip

fix: 修复索引集选择弹出组件收藏功能
  bklog/web/src/views/retrieve-v2/components/index-set-choice/use-choice.tsx
Due: ip

feat: AIOPS：Agent-SDK引入监控平台,APIGW 根域名配置 --story=124580393 # Reviewed, transaction id: 45952
  bkmonitor/ai_agents/resources/resources.py
Due: flake8, ip

feat: 【多租户-pc】人员选择器改造 # Reviewed, transaction id: 45957
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/rotation-preview.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-set.vue
Due: ip

fix: DFM 元数据自定义标签的能力 # Reviewed, transaction id: 45963
  bklog/web/src/components/collection-access/components/step-add/device-metadata.vue
Due: ip

feat: 【多租户-pc】人员选择器改造 (#6771)
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/rotation-preview.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-set.vue
Due: ip

feat: 多租户人员选择器替换 (#6773)
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/alarm-dispatch.tsx
  bkmonitor/webpack/src/trace/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-dispatch.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/chat-group/chat-group.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/chat-group/chat-group.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-edit-dialog.tsx
Due: ip

feat: 【自定义指标】大图需求 --stroy=123984557
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/check-view/check-view-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/check-view/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/metric-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
Due: ip

feat: 【自定义指标】大图需求 --stroy=123984557 # Reviewed, transaction id: 45971
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
Due: ip

feat: unify-query接口请求增加租户ID #1010158081124832487
  bkmonitor/api/unify_query/default.py
Due: flake8, ip

feat: unify-query接口请求增加租户ID --story=124832487 (#6774)
  bkmonitor/api/unify_query/default.py
Due: flake8, ip

feat: 日志聚类旧逻辑代码删除 (#6652)
  bklog/apps/api/modules/bkdata_aiops.py
  bklog/apps/api/modules/bkdata_dataflow.py
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_clustering/components/collections/aiops_model_component.py
  bklog/apps/log_clustering/components/collections/data_access_component.py
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/components/collections/sample_set_component.py
  bklog/apps/log_clustering/exceptions.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/aiops_model_handler.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/constants.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/data_cls.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/__init__.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/constants.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/data_cls.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/sample_set_handler.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/data_access/data_access.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/data_cls.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_model_service.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service.py
  bklog/apps/log_clustering/handlers/pipline_service/sample_set_service.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/views/clustering_config_views.py
  bklog/apps/log_databus/handlers/collector_scenario/base.py
  bklog/apps/log_databus/models.py
Due: flake8, ip

feat: AIOPS：Agent-SDK引入监控平台,APIGW 根域名配置 --story=124580393 # Reviewed, transaction id: 45973
  bkmonitor/ai_agents/services/api_client.py
  bkmonitor/config/default.py
Due: flake8, ip

feat: AIOPS：Agent-SDK引入监控平台,LLM ROOT PATH URL问题处理 --story=124580393 # Reviewed, transaction id: 45983
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/services/agent_instance.py
Due: flake8, ip

feat:LLM相关特性- 故障诊断 story==119032343 # Reviewed, transaction id: 45984
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.scss
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
Due: ip

feat:LLM相关特性- 故障诊断 story==119032343 # Reviewed, transaction id: 45985
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.scss
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
Due: ip

fix: 修复trace检索日志表格横向拖拽以及接口监听问题
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/scroll-x-bar.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.tsx
Due: ip

feat: AIAgent：Agent-SDK引入监控平台,LLM ROOT PATH URL问题处理 --story=124580393 # Reviewed, transaction id: 45986
  bkmonitor/ai_agents/services/agent_instance.py
  bkmonitor/config/default.py
Due: flake8, ip

feat: 数据查询模块支持多租户改造 #1010158081124835329
  bkmonitor/alarm_backends/service/alert/manager/checker/recover.py
  bkmonitor/bkmonitor/data_source/backends/base/compiler.py
  bkmonitor/bkmonitor/data_source/backends/elastic_search/compiler.py
  bkmonitor/bkmonitor/data_source/backends/elastic_search/connection.py
  bkmonitor/bkmonitor/data_source/backends/log_search/compiler.py
  bkmonitor/bkmonitor/data_source/backends/log_search/connection.py
  bkmonitor/bkmonitor/data_source/backends/time_series/compiler.py
  bkmonitor/bkmonitor/data_source/backends/time_series/connection.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/handler/__init__.py
  bkmonitor/bkmonitor/data_source/handler/log_search.py
  bkmonitor/bkmonitor/data_source/handler/time_series.py
  bkmonitor/bkmonitor/data_source/models/query.py
  bkmonitor/bkmonitor/data_source/models/sql/query.py
  bkmonitor/bkmonitor/data_source/tests/test_data_source.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
  bkmonitor/bkmonitor/management/commands/run_cmd.py
  bkmonitor/bkmonitor/utils/event_related_info.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/monitor_web/statistics/v2/bkcollector.py
  bkmonitor/packages/monitor_web/statistics/v2/business.py
  bkmonitor/packages/monitor_web/statistics/v2/host.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Due: flake8, ip

feat: 图表分析-增加alias_settings字段 #1010158081124763428
  bklog/apps/log_search/serializers.py
Due: flake8, ip

feat: switch关闭禁止输入分钟数
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/alarm-handling.tsx
Due: ip

fix: trace检索离开后需清除快捷键事件
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.tsx
Due: ip

feat: 【处理套餐】防御规则增加数据延迟需求 #1010158081124035565 # Reviewed, transaction id: 45937
  bkmonitor/alarm_backends/tests/service/converge/test_converge.py
Due: flake8

feat: 【处理套餐】防御规则增加数据延迟需求 #1010158081124035565 # Reviewed, transaction id: 45891
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
Due: flake8, ip

feat: 【处理套餐】防御规则增加数据延迟需求 #1010158081124035565 # Reviewed, transaction id: 46030
  bkmonitor/bkmonitor/strategy/new_strategy.py
Due: flake8, ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/|
   bkmonitor/alarm_backends/tests/.*.py
)

