Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: scripts/sensitive_info_check/ip.sh
  language: script

fix: 统计图表无法展示 #1010158081136519117
  bklog/apps/bk_log_admin/constants.py
  bklog/apps/bk_log_admin/handlers/index_set.py
Due: flake8, ip

fix: 统计图表无法展示 --bug=136519117 (#4747)
  bklog/apps/bk_log_admin/handlers/index_set.py
Due: flake8, ip

fix: 修复缓存没有计算参数问题
  bkmonitor/packages/apm_web/log/resources.py
Due: flake8, ip

fix: 修复日志无关联问题 --bug=136870571 (#4754)
  bkmonitor/packages/apm_web/log/resources.py
Due: flake8, ip

fix: 插件指标信息允许dimensions字段为空
  bkmonitor/bkmonitor/utils/serializers.py
Due: flake8, ip

fix: k8s-v2 filter by选择器优化 (#4749)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
Due: ip

fix: 修复缓存没有计算参数问题
  bkmonitor/packages/apm_web/handlers/log_handler.py
Due: flake8, ip

fix: 修复日志缓存没有记录参数问题 --bug=136875477 (#4755)
  bkmonitor/packages/apm_web/handlers/log_handler.py
Due: flake8, ip

feat: 优化左侧模糊过滤查询数量统计及翻页准确性
  bkmonitor/packages/monitor_web/k8s/core/meta.py
Due: flake8, ip

refactor: 部分python依赖升级
  bkmonitor/requirements.txt
Due: none

chore: 调整日志索引集查询路径调整
  bkmonitor/api/log_search/default.py
Due: flake8, ip

feat: 新版首页调整搜索记录的交互逻辑 --story=120798093
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Due: ip

chore: 调整selenium版本
  bkmonitor/requirements.txt
Due: none

新版首页调整搜索历史的交互逻辑 (#4756)
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Due: ip

fix: 添加loading # Reviewed, transaction id: 28973
  bkmonitor/webpack/src/monitor-pc/components/time-range/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
Due: ip

fix: 添加loading (#4757)
  bkmonitor/webpack/src/monitor-pc/components/time-range/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
Due: ip

feat: 聚类patter表支持独立配置存储集群 #1010158081121606339
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/templates/flow/log_count_aggregation_flow.json
Due: flake8, ip

"feat: 容器init进程调整，避免僵尸进程 #1010158081121610301"
  bkmonitor/Dockerfile
Due: ip

fix: 查询提示任务延迟问题修复 --bug=136861841 (#4752)
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-bar/use-field-egges.tsx
Due: ip

feat: 聚类patter表支持独立配置存储集群 --story=121606339 (#4758)
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/templates/flow/log_count_aggregation_flow.json
Due: flake8, ip

fix: 修改def retention(self)的返回类型 # Reviewed, transaction id: 28984
  bkmonitor/apm/models/datasource.py
Due: flake8, ip

feat: SQL查询提示功能支持 --story=121539292 (#4697)
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Due: ip

feat: k8s功能优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/table-legend.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/components/chart-legend.vue
Due: ip

feat: k8s功能优化 (#4759)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/table-legend.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/components/chart-legend.vue
Due: ip

feat: trace检索主机详情开发
  bkmonitor/webpack/src/monitor-pc/components/collapse/collapse.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.scss
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.tsx
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.scss
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.tsx
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.scss
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.tsx
  bkmonitor/webpack/src/trace/components/monitor-grag/monitor-drag.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/utils/utils.ts
Due: ip

feat: trace检索主机详情开发 (#4760)
  bkmonitor/webpack/src/monitor-pc/components/collapse/collapse.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.scss
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.tsx
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.scss
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.tsx
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.scss
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.tsx
  bkmonitor/webpack/src/trace/components/monitor-grag/monitor-drag.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/utils/utils.ts
Due: ip

feat: 新版首页调整搜索记录的交互逻辑 --story=120798093
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Due: ip

fix: 修改涉及调用ApmApplication.get_application方法的类
  bkmonitor/apm/resources.py
Due: flake8, ip

新版首页问题修复 (#4761)
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Due: ip

fix: 细节调整 (#4763)
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
Due: ip

feat: trace检索span详情主机tab栏
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/utils.ts
Due: ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/
)

