Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, check-migrate, ip

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    - id: check-merge-conflict
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      args: [--config=pyproject.toml]
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]
  - repo: local
    hooks:
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml
      - id: check-migrate
        name: check migrate
        entry: python scripts/check_migrate/check_migrate.py
        language: system
        types: [python]
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/check_commit_message.py
        language: system
        stages: [commit-msg]
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/sensitive_info_check/ip.sh
        language: script
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/
          )

fix: 告警机器人发送通知格式回退调整 (#53)
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/alarm_backends/service/fta_action/utils.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
Due: flake8, check-migrate, ip

feat: 聚类数据链路旁路化改造
  bklog/apps/log_esquery/serializers.py
Due: flake8, check-migrate, ip

feat: 日志聚类数据链路旁路化改造 (#46)
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service_online.py
  bklog/apps/log_clustering/migrations/0024_clusteringconfig_clustered_rt.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/templates/flow/predict_flow_bkdata.json
Due: flake8, check-migrate, ip

fix: 修复ITSM参数
  bklog/apps/constants.py
  bklog/apps/log_commons/models.py
  bklog/config/default.py
Due: flake8, check-migrate, ip

fix: 修复ITSM参数
  bklog/apps/log_commons/models.py
Due: flake8, check-migrate, ip

fix: 修复ITSM参数 (#54)
  bklog/apps/constants.py
  bklog/apps/log_commons/models.py
  bklog/config/default.py
Due: flake8, check-migrate, ip

fix: 移除非必要的ITSM参数以及优化路由结构
  bklog/apps/log_commons/models.py
  bklog/apps/log_commons/views.py
Due: flake8, check-migrate, ip

fix: 移除非必要的ITSM参数以及优化路由结构 (#55)
  bklog/apps/log_commons/models.py
  bklog/apps/log_commons/views.py
Due: flake8, check-migrate, ip

feat: 国密sdk接入
  bklog/apps/log_extract/models.py
  bklog/requirements.txt
Due: flake8, check-migrate, ip

fix: 日志脱敏验收问题修复
  bklog/apps/log_databus/handlers/collector.py
  bklog/locale/en/LC_MESSAGES/django.po
  bklog/support-files/iam/initial.json
Due: flake8, check-migrate, ip

feat: 国密sdk版本调整
  bklog/requirements.txt
Due: none

feat: 完成数据采集存储状态存储信息表单的编辑功能
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/link-status.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/storage-state.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/storage-state.tsx
Due: ip

feat: 日志国密sdk接入 (#57)
  bklog/apps/log_extract/models.py
  bklog/requirements.txt
Due: flake8, check-migrate, ip

chore: 调整preci pre-push检查触发类型
  .pre-commit-config.yaml
Due: ip

feat: add profiling code base
  bkmonitor/api/bkdata/default.py
  bkmonitor/apm/apps.py
  bkmonitor/apm/migrations/0032_auto_20231017_1646.py
  bkmonitor/apm/models/application.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/models/doris.py
  bkmonitor/apm/resources.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/utils/cipher.py
  bkmonitor/config/default.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/profile/__init__.py
  bkmonitor/packages/apm_web/profile/bk_doris.py
  bkmonitor/packages/apm_web/profile/parser.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/urls.py
  bkmonitor/packages/apm_web/profile/views.py
Due: flake8, check-migrate, ip

fix: 修复索引集删除后规则列表报错的问题
  bklog/apps/log_desensitize/handlers/desensitize.py
Due: flake8, check-migrate, ip

feat: 新版采集详情
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/alarm-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/alert-topic.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/alert-topic.tsx
Due: ip

fix: 日志脱敏验收问题修复 (#58)
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/locale/en/LC_MESSAGES/django.po
  bklog/support-files/iam/initial.json
Due: flake8, check-migrate, ip

bugfix: log to trace test
  bkmonitor/packages/apm_web/meta/plugin/log_trace_plugin_config.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/models/service.py
  bkmonitor/packages/apm_web/tests/test_log_trace.py
Due: flake8, check-migrate, ip

bugfix: 修复__ext展开字段缺失
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Due: flake8, check-migrate, ip

bugfix: 修复__ext展开字段缺失 (#59)
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Due: flake8, check-migrate, ip

fix: 检索条件候选值根据时间变化更新
  bklog/web/src/views/retrieve/search-comp/index.tsx
Due: ip

feat: 新增规则调试API
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/apps/log_desensitize/serializers.py
  bklog/apps/log_desensitize/views/desensitize_rule_views.py
Due: flake8, check-migrate, ip

fix: [apm] updata log trace test (#61)
  bkmonitor/packages/apm_web/meta/plugin/log_trace_plugin_config.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/models/service.py
  bkmonitor/packages/apm_web/tests/test_log_trace.py
Due: flake8, check-migrate, ip

feat: 国密sdk版本调整
  .pre-commit-config.yaml
  bklog/apps/utils/aes.py
  bklog/config/default.py
Due: flake8, check-migrate, ip

feat: 国密sdk接入调整 (#63)
  .pre-commit-config.yaml
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/utils/aes.py
  bklog/config/default.py
Due: flake8, check-migrate, ip

feat: 代码优化
  bklog/apps/log_desensitize/handlers/desensitize.py
Due: flake8, check-migrate, ip

feat: 代码优化
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/apps/log_search/handlers/index_set.py
Due: flake8, check-migrate, ip

feat: 代码优化
  bklog/apps/log_desensitize/views/desensitize_rule_views.py
Due: flake8, check-migrate, ip

feat: 优化空间路由功能
  bkmonitor/metadata/models/space/ds_rt.py
Due: flake8, check-migrate, ip

feat: 新增规则调试API (#62)
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/apps/log_desensitize/serializers.py
  bklog/apps/log_desensitize/views/desensitize_rule_views.py
  bklog/apps/log_search/handlers/index_set.py
Due: flake8, check-migrate, ip

docs: 增加授权相关接口文档
  bklog/apps/log_commons/views.py
Due: flake8, check-migrate, ip

fix: 检索条件候选值根据时间变化更新 (#60)
  bklog/web/src/views/retrieve/search-comp/index.tsx
Due: ip

bugfix: 修复获取存储 kafka 记录 ID
  bkmonitor/metadata/models/vm/utils.py
Due: flake8, check-migrate, ip

feat: 提取链路管理参数密文传输
  bklog/web/src/views/manage/manage-extract/extract-link-manage/extract-link-create.vue
Due: ip

fix: 修复日志检索条件存在/不存在未隐藏输入框问题 --bug=116557551
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Due: ip

feat: 日志聚类数据链路旁路化改造 for bkdata --story=114933414 (#66)
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service_online.py
  bklog/apps/log_clustering/migrations/0024_clusteringconfig_clustered_rt.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/templates/flow/predict_flow_bkdata.json
Due: flake8, check-migrate, ip

fix: 修复IP选择器手动输入IP查询 #1010158081116562211
  bklog/bkm_ipchooser/handlers/host_handler.py
Due: flake8, check-migrate, ip
