Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: scripts/sensitive_info_check/ip.sh
  language: script

fix: 下载格式修改补充
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
Due: ip

feat: 检索接口添加track_total_hits参数 & ESB文件添加索引集日志总条数API (#4598)
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/serializers.py
  bklog/docs/apidocs/bk_log.yaml
Due: flake8, ip

fix: 优化关联主机页面速度
  bkmonitor/api/apm_api/default.py
  bkmonitor/packages/apm_web/handlers/host_handler.py
Due: flake8, ip

feat: doris 查询耗时指标上报 #1010158081121409527
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/log_search/metrics.py
Due: flake8, ip

feat: doris 查询耗时指标上报 #1010158081121409527
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Due: flake8, ip

fix: 自定义上报回显保存 # Reviewed, transaction id: 28064
  bklog/web/src/mixins/storage-mixin.js
Due: ip

fix: 完成部分新版k8s验收文档问题修复
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
  bkmonitor/webpack/src/monitor-pc/pages/global-search-modal-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/split-panel.ts
  bkmonitor/webpack/src/monitor-pc/pages/space-manage/space-manage.tsx
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
Due: ip

fix: 完成部分新版k8s验收文档问题修复 (#4628)
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
  bkmonitor/webpack/src/monitor-pc/pages/global-search-modal-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/split-panel.ts
  bkmonitor/webpack/src/monitor-pc/pages/space-manage/space-manage.tsx
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
Due: ip

feat: k8s v2 体验文档问题修复
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
Due: ip

fix: 优化日志关联查询速度
  bkmonitor/packages/apm_web/handlers/log_handler.py
  bkmonitor/packages/apm_web/log/resources.py
  bkmonitor/packages/apm_web/topo/handle/relation/query.py
Due: flake8, ip

fix: object别名问题修复 # Reviewed, transaction id: 28079
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/global/field-setting.vue
  bklog/web/src/language/lang/en/content.ts
Due: ip

feat: span 检索关联容器更改
  bkmonitor/api/apm_api/default.py
  bkmonitor/packages/apm_web/container/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_trace-container.json
Due: flake8, ip

feat: doris 查询耗时指标上报 --story=121409527 (#4624)
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/metrics.py
Due: flake8, ip

feat: 增加get_dashboard_detail接口
  bkmonitor/docs/api/apidocs/zh_hans/get_dashboard_detail.md
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v4/grafana.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
Due: flake8, ip

feat: pymysql 升级到 1.1.1
  bkmonitor/requirements.txt
Due: none

"feat: arrow版本升级到1.2.3 #1010158081121438487"
  bkmonitor/alarm_backends/core/context/chart.py
  bkmonitor/alarm_backends/management/story/kernel_story.py
  bkmonitor/alarm_backends/service/converge/dimension.py
  bkmonitor/alarm_backends/service/converge/shield/shield_obj.py
  bkmonitor/alarm_backends/tests/core/detect_result/test_clean.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_close.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_recover.py
  bkmonitor/bkmonitor/documents/base.py
  bkmonitor/bkmonitor/management/commands/run_cmd.py
  bkmonitor/bkmonitor/utils/time_tools.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/packages/monitor_web/overview/tools.py
  bkmonitor/packages/monitor_web/statistics/v2/alert_action.py
  bkmonitor/packages/monitor_web/statistics/v2/business.py
  bkmonitor/packages/monitor_web/statistics/v2/event_plugin.py
  bkmonitor/packages/monitor_web/statistics/v2/host.py
  bkmonitor/packages/monitor_web/statistics/v2/site.py
  bkmonitor/packages/monitor_web/statistics/v2/statistics.py
Due: flake8, ip

fix: 修复 profile 服务发现任务报错 # Reviewed, transaction id: 28092
  bkmonitor/apm/core/discover/profile/base.py
Due: flake8, ip

fix: 修复 profile 服务发现任务报错 (#4632)
  bkmonitor/apm/core/discover/profile/base.py
Due: flake8, ip

"feat: 新增is_ajax_request工具函数用于替换is_ajax #1010158081121438770"
  bkmonitor/bk_dataview/views.py
  bkmonitor/bkmonitor/middlewares/request_middlewares.py
  bkmonitor/bkmonitor/utils/request.py
  bkmonitor/packages/monitor_api/middlewares.py
  bkmonitor/packages/monitor_web/tests/middlewares.py
Due: flake8, ip

"fix: 通知API返回格式导致TypeError问题处理 #1010158081136316605"
  bkmonitor/api/cmsi/default.py
Due: flake8, ip

feat: 【告警事件】视图无数据问题 --story=121376143 (#4604)
  bkmonitor/packages/fta_web/alert/resources.py
Due: flake8, ip

feat: 【产品优化】当报错检测密码不适配时需提示重置密码 --story=121036081 (#4543)
  bkmonitor/packages/monitor_web/collecting/resources/backend.py
  bkmonitor/packages/monitor_web/plugin/manager/pushgateway.py
Due: flake8, ip

fix: object别名问题修复 # Reviewed, transaction id: 28098
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/global/field-setting.vue
  bklog/web/src/global/setting-table.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
Due: ip

fix: 【容器监控】列表和数据明细表格都去掉边框
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Due: ip

fix: 【容器监控】table空数据效果没有居中
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
Due: ip

fix: 修改语法问题 # Reviewed, transaction id: 28101
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/global/field-setting.vue
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
Due: ip

fix: object别名功能 (#4630)
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/global/field-setting.vue
  bklog/web/src/global/setting-table.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
Due: ip

fix: 智能监控 容器场景 产品验收问题修复
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Due: ip

fix: 【告警策略】告警组未配置时点击提交没有定位
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Due: ip

feat: 【告警】告警通知里，针对集群信息补充环境类型字段 #1010158081121108605 # Reviewed, transaction id: 28113
  bkmonitor/packages/fta_web/alert/resources.py
Due: flake8, ip

feat: 【容器监控】表格pod支持筛选交互
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
Due: ip

fix: 【容器监控】表格可点击详情样式更改为下划线样式
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
Due: ip

fix: 智能监控 容器场景 产品验收问题修复
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
Due: ip

feat: span 检索主机关联更新
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_trace-host.json
Due: flake8, ip

fix: 【容器监控】排序规则记住上一次 # Reviewed, transaction id: 28151
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Due: ip

feat: 联调最近告警事件相关接口 # Reviewed, transaction id: 28155
  bkmonitor/webpack/src/monitor-pc/components/biz-select/list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/new-biz-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
Due: ip

fix: 【容器监控】国际化文案 # Reviewed, transaction id: 28169
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Due: ip

feat: 新增接口：”获取用户最近查询的索引集“ 和 ”获取用户收藏的索引集“ #1010158081121336534
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/views/index_set_views.py
Due: flake8, ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/
)

