Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: scripts/sensitive_info_check/ip.sh
  language: script

minor: requirements.txt回退依赖typing-extensions==3.7.4.3
  bkmonitor/requirements.txt
Due: none

feat: 新版ES索引轮转： 新增V2轮转任务和对应特性开关，不再使用delay异步，每个集群单独一个线程单步执行，减少master负载，同步索引创建时间 --story=120421276 (#3619)
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/storage/__init__.py
  bkmonitor/metadata/tests/task/test_refresh_es_storage.py
  bkmonitor/metadata/utils/basic.py
Due: flake8, ip

feat: 保留version_log_html文件夹避免web 进程偶发启动失败 --story=120304092 (#3541)
  bkmonitor/version_logs_html/.gitkeep
Due: ip

feat: AsCode支持策略动态分组目标 --story=120319060 (#3557)
  bkmonitor/bkmonitor/as_code/parse.py
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/packages/config_migrate/migrate.py
  bkmonitor/packages/monitor_web/as_code/resources.py
Due: flake8, ip

refactor: 修改故障根因拓扑图按照边聚合的逻辑 --story=120119066 (#3627)
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Due: flake8, ip

feat: 服务拨测支持自定义标签配置 --story=120238699 (#3454)
  bkmonitor/packages/monitor/migrations/0104_auto_20241024_2010.py
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_api/filtersets.py
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
  bkmonitor/packages/monitor_web/uptime_check/views.py
Due: flake8, ip

fix: 保存仪表盘报错问题 --bug=133002039 (#3633)
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-db-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-messaging-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-remote_service-http-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-topo.json
Due: ip

fix: 新业务偶发grafana初始化缺少admin用户权限 --bug=132687483 (#3516)
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Due: flake8, ip

fix: 修复日志tab页面traceid错误问题 --bug=132980273 (#3617)
  bkmonitor/packages/apm_web/log/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Due: flake8, ip

minor: promql查询返回target文本拼接顺序保持一致
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Due: flake8, ip

minor: 开发者中心内置仪表盘更新
  bkmonitor/packages/monitor_web/grafana/dashboards/bksaas/sops-plugin-python.json
Due: ip

fix: 字段分析全文检索条件适配 --bug=133020485 (#3626)
  bklog/apps/log_unifyquery/handler.py
Due: flake8, ip

fix: 修复日志反向关联 APM 应用缺失问题 (#3641)
  bkmonitor/apm/resources.py
Due: flake8, ip

feat: 【空间搜索】监控页面空间搜索不能将精确匹配的放置到前面 --story=120323536 (#3585)
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.tsx
Due: ip

fix: apm 新建应用部分，临时去掉 check 重名逻辑对名称的校验 (#3643)
  bkmonitor/packages/apm_web/meta/resources.py
Due: flake8, ip

feat: Form模式下如果使用了表达式禁用Promql转换 --story=120283448 (#3601)
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/utils/index.ts
Due: ip

fix: 【监控】右键弹出详情按钮后，点击其他区域，弹出的详情按钮没有消失 --bug=131197103 (#3642)
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.tsx
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
Due: ip

feat: V4链路接入重构：调整接入方式，使用路由双写形式进行灰度验证 --story=120442357 (#3648)
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Due: flake8, ip

chore: 拨测数据接入data_label调整
  bkmonitor/packages/monitor_web/commons/data_access.py
Due: flake8, ip

fix: 项目空间容器观测场景事件无法拉集群列表修复
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Due: flake8, ip

fix: 故障优化 --bug=133011535 (#3646)
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/handle-search.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
Due: ip

feat: 索引轮转：索引-别名绑定关系切换添加重试机制，打印健康状态详情信息，添加强制轮转机制 --story=120431741 (#3632)
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
Due: flake8, ip

chore: 拨测数据图表查询逻辑调整
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/packages/monitor_web/scene_view/resources/uptime_check.py
Due: flake8, ip

refactor: 修复故障根因定位告警视图维度跟告警详情视图维度不相同的问题 --story=120119066 (#3654)
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Due: flake8, ip

feat: V4链路重构：采用配置形式，灰度开启新版V4接入，修复API结构问题 --story=120451880 (#3655)
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Due: flake8, ip

refactor: 修改故障根因拓扑图按照边聚合的逻辑 --story=120119066 (#3649)
  bkmonitor/bkmonitor/aiops/incident/models.py
Due: flake8, ip

fix: 告警详情页面获取主机topo信息失败 --bug=133046863 (#3657)
  bkmonitor/alarm_backends/service/fta_action/webhook/processor.py
  bkmonitor/packages/fta_web/alert/resources.py
Due: flake8, ip

chore: 调整拨测数据接入判断逻辑
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_web/commons/data_access.py
Due: flake8, ip

fix: 版本切换缓存启用localStorage (#3663)
  bklog/web/src/global/version-switch.vue
  bklog/web/src/store/index.js
  bklog/web/src/store/modules/report-log.ts
  bklog/web/src/views/retrieve-hub.vue
Due: ip

fix: 调用分析表格统计时间戳对齐 --bug=133104147 (#3660)
  bkmonitor/packages/apm_web/handlers/metric_group/helper.py
Due: flake8, ip

fix: APM切换主被调后变量没有切换 --Bug=133103287 (#3659)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
Due: ip

fix: 修复 apm 获取日志相关存储和索引信息失败 (#3658)
  bkmonitor/packages/apm_web/handlers/backend_data_handler.py
Due: flake8, ip

feat: 【产品功能】优化监控图表tooltips超长展示 --Story=120451726 (#3656)
  bkmonitor/webpack/src/monitor-pc/static/css/global.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Due: ip

chore: 调整拨测数据接入点位
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_web/uptime_check/views.py
Due: flake8, ip

fix: 修复Profiling时间对比功能的bug (#3666)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/diff-chart/diff-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/diff-chart/diff-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/frame-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trend-chart/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/comparison-chart.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/comparison-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-retrieval.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
Due: ip

fix: 主被调（二期）功能体验问题修复 (#3653)
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/convergence-options-item.vue
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/query-criteria-item.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.scss
Due: ip

chore: 调整拨测数据接入判断逻辑
  bkmonitor/packages/monitor_web/commons/data_access.py
Due: flake8, ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/
)

