Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: scripts/pre-commit/preci.sh
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/sensitive_info_check/ip.sh
        language: script
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/
          )

"feat: ot及bk-audit版本升级 #1010158081121495202"
  bkmonitor/requirements.txt
Due: none

feat: sg 环境离岸账号支持邮件通知渠道 #1010158081119720848 (#4656)
  bkmonitor/api/cmsi/default.py
Due: flake8, ip

"feat: django主要依赖升级 #1010158081121497111"
  bkmonitor/config/dev.py
  bkmonitor/config/prod.py
  bkmonitor/config/stag.py
  bkmonitor/core/drf_resource/base.py
  bkmonitor/core/drf_resource/viewsets.py
  bkmonitor/requirements.txt
Due: flake8, ip

"feat: redis-py版本升级到4.6.0 #1010158081121497442"
  bkmonitor/requirements.txt
Due: none

fix: 修复行元素在可视区域变化计算逻辑导致的抖动 # Reviewed, transaction id: 28308
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/row-render.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Due: ip

fix: 修复行元素在可视区域变化计算逻辑导致的抖动 (#4660)
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/row-render.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Due: ip

fix: 调整代码细节 # Reviewed, transaction id: 28310
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/my-favorites.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/my-favorites.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/type.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
Due: ip

fix: apigw resource
  bklog/support-files/apigw/resources.yaml
Due: ip

feat: 新增接口：”获取用户最近查询的索引集“ 和 ”获取用户收藏的索引集“ #1010158081121336534
  bklog/apps/log_search/views/index_set_views.py
Due: flake8, ip

fix: 下拉切换告警级别联调 # Reviewed, transaction id: 28323
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
Due: ip

"feat: custom_report接口不合理报错优化 #1010158081121501299"
  bkmonitor/packages/monitor_web/custom_report/resources.py
Due: flake8, ip

feat: custom_report接口不合理报错优化 --story=121501299 (#4661)
  bkmonitor/packages/monitor_web/custom_report/resources.py
Due: flake8, ip

chore: 优化 bcs label 创建报错日志
  bkmonitor/bkmonitor/models/bcs_base.py
Due: flake8, ip

feat: 指标列表禁用状态不能修改展示状态
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
Due: ip

fix: 【故障】故障里的告警详情里临时分享点击后报错 --Bug=136062793
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/history-share-manage.tsx
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/temporary-share.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-lint/aiops-dimension-lint.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
Due: ip

feat: 解决文本国际化冲突以及移除不必要的console
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Due: ip

fix: k8s验收文档问题修复 (#4662)
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Due: ip

feat: 【产品功能】移动端事件 API 补充结构化维度字段 #1010158081121484148
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/weixin/event/resources.py
Due: flake8, ip

feat: 增加tooltips # Reviewed, transaction id: 28336
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title-menu.tsx
Due: ip

feat: 优化微前端沙盒性能 --Story=121504203
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
Due: ip

bugfix: 邮件发送api未返回response修复
  bkmonitor/api/cmsi/default.py
Due: flake8, ip

minor: k8s资源预览排序支持聚合方法参数
  bkmonitor/packages/monitor_web/k8s/resources.py
Due: flake8, ip

feat: 优化微前端沙盒性能 --Story=121504203 (#4665)
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
Due: ip

fix: 采集详情数据状态请求参数修复 # Reviewed, transaction id: 28341
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-status/daily-chart.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-status/minute-chart.vue
Due: ip

fix: 【监控】trace日志样式冲突 --Bug=136528901 # Reviewed, transaction id: 28342
  bkmonitor/webpack/src/monitor-pc/pages/apm/apm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/incident/incident-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/share/share.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.scss
Due: ip

fix: 【监控】trace日志样式冲突 --Bug=136528901 (#4667)
  bkmonitor/webpack/src/monitor-pc/pages/apm/apm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/incident/incident-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/share/share.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.scss
Due: ip

feat: 【产品功能】移动端事件 API 补充结构化维度字段 #1010158081121484148
  bkmonitor/packages/monitor_web/shield/serializers.py
Due: flake8, ip

chore: 调整devcontainer构建流程
  bkmonitor/.devcontainer/Dockerfile
  bkmonitor/.devcontainer/create_venv.sh
  bkmonitor/requirements_dev.txt
Due: ip

feat: redis-py版本升级到4.6.0 --story=121497442 (#4659)
  bkmonitor/requirements.txt
Due: none

feat: 【产品功能】移动端事件 API 补充结构化维度字段 #1010158081121484148
  bkmonitor/packages/weixin/event/resources.py
Due: flake8, ip

feat: Metadata: 预计算接口调整适配 --story=121500760
  bkmonitor/metadata/migrations/0207_recordrule_count_freq.py
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/record_rule/service.py
  bkmonitor/metadata/tests/conftest.py
  bkmonitor/metadata/tests/record_rule/test_compose_flow_node.py
  bkmonitor/metadata/tests/record_rule/test_record_rule_service.py
Due: flake8, ip

feat: ot及bk-audit版本升级 --story=121495202 (#4657)
  bkmonitor/requirements.txt
Due: none

feat: 修改聚类信息时，修改和重启逻辑分离&重启的任务改为延迟启动 #1010158081121441020
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/tasks/flow.py
Due: flake8, ip

chore: 调整ot依赖版本
  bkmonitor/requirements.txt
Due: none

feat: Metadata: 预计算接口调整适配 --story=121500760
  bkmonitor/metadata/migrations/0207_recordrule_count_freq.py
  bkmonitor/metadata/models/record_rule/rules.py
Due: flake8, ip

feat: Metadata: 预计算接口调整适配 --story=121500760 (#4668)
  bkmonitor/metadata/migrations/0207_recordrule_count_freq.py
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/record_rule/service.py
  bkmonitor/metadata/tests/conftest.py
  bkmonitor/metadata/tests/record_rule/test_compose_flow_node.py
  bkmonitor/metadata/tests/record_rule/test_record_rule_service.py
Due: flake8, ip

Revert "chore: 调整ot依赖版本"
  bkmonitor/requirements.txt
Due: none

Revert "feat: ot及bk-audit版本升级 --story=121495202 (#4657)"
  bkmonitor/requirements.txt
Due: none
