Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

flake8:
  name: flak8
  language: python
  pass_filenames: true
  entry: pflake8 --config=./pyproject.toml

ip:
  name: Check ip
  description: Check ip
  entry: python3 scripts/sensitive_info_check/check_ip.py
  language: system

feat: 告告警详情样式优化以及解决控制台警告 (#8967)
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/ai-diagnostic-info-card.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/ai-diagnostic-info-card.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/analysis-panel.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/analysis-panel.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/components/dimension-panel.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/components/suspicious-analysis-group.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/components/suspicious-analysis-group.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/diagnostic-analysis.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/diagnostic-analysis.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/diagnostic-analysis/test.html
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-detail/components/event-detail-head.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/common-detail/components/alarm-info/alarm-info.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/common-detail/components/alarm-info/manual-process-dialog.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-analysis/setting-dialog.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-trend-chart/alarm-trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/composables/use-quick-filter.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/services/action-services.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/group-select.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/manual-process.tsx
  bkmonitor/webpack/src/trace/store/modules/alarm-center.ts
Due: ip

feat: 告警详情流转记录&关联事件代码优化 (#8968)
  bkmonitor/webpack/src/trace/pages/alarm-center/common-detail/components/alarm-view/components/notice-status-dialog.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/common-detail/components/panel-event/components/event-table-expand-content.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/common-detail/components/panel-event/components/event-table.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/common-detail/components/panel-event/components/event-table.tsx
Due: ip

feat: 1124验收问题回归 --story=128827454 (#8971)
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
Due: ip

minor: 调整 apm 应用状态快照保留时长
  bkmonitor/packages/apm_web/tasks.py
Due: flake8, ip

minor: 调整 apm 应用状态快照保留时长 (#8972)
  bkmonitor/packages/apm_web/tasks.py
Due: flake8, ip

feat: MCP: 日志检索MCP相关接口集成至Kernel API & 权限点注册 --story=128832588 # Reviewed, transaction id: 65672
  bkmonitor/bkmonitor/iam/action.py
  bkmonitor/bkmonitor/iam/migrations/0008_log_alarm_mcp.py
  bkmonitor/kernel_api/resource/log_search.py
  bkmonitor/kernel_api/views/v4/log_search.py
  bkmonitor/support-files/iam/0008_log_alarm_mcp.json
Due: flake8, ip

feat: MCP: 日志检索MCP相关接口集成至Kernel API & 权限点注册 --story=128832588 (#8973)
  bkmonitor/bkmonitor/iam/action.py
  bkmonitor/bkmonitor/iam/migrations/0008_log_alarm_mcp.py
  bkmonitor/kernel_api/resource/log_search.py
  bkmonitor/kernel_api/views/v4/log_search.py
  bkmonitor/support-files/iam/0008_log_alarm_mcp.json
Due: flake8, ip

feat: 告警处置套餐：打通与故障分析SaaS的流程联动，新增处置套餐类型 --story=128781682 (#8949)
  bkmonitor/api/bk_incident/__init__.py
  bkmonitor/api/bk_incident/default.py
  bkmonitor/bkmonitor/models/fta/action.py
  bkmonitor/config/default.py
  bkmonitor/packages/fta_web/handlers.py
  bkmonitor/support-files/fta/action_config_incident_manager.json
Due: flake8, ip

feat: Metadata: 监控平台兼容ES7,引入ES7 SDK --story=128834250 # Reviewed, transaction id: 65674
  bkmonitor/apm/core/discover/precalculation/storage.py
  bkmonitor/bkmonitor/utils/elasticsearch/ilm.py
  bkmonitor/metadata/models/custom_report/event.py
  bkmonitor/metadata/models/es_snapshot.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/utils/es_tools.py
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Due: flake8, ip

feat: Metadata: 监控平台兼容ES7,引入ES7 SDK --story=128834250 # Reviewed, transaction id: 65675
  bkmonitor/api/bk_incident/default.py
Due: flake8, ip

feat: 新内部版网关验证 #1010158081128775387
  bklog/apps/middleware/apigw.py
Due: flake8, ip

feat: 调整插件配置&新增BK_ITSM_V4_API_URL配置
  bkmonitor/bkmonitor/models/fta/action.py
  bkmonitor/config/default.py
  bkmonitor/support-files/fta/action_plugin_initial.json
Due: flake8, ip

feat: 新告警中心事件详情接口 #1010158081128824188 # Reviewed, transaction id: 65677
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/alarm_backends/core/context/content.py
  bkmonitor/bkmonitor/documents/alert.py
  bkmonitor/constants/alert.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert_v2/resources.py
  bkmonitor/packages/fta_web/alert_v2/views.py
Due: flake8, ip

Feat/new internal apigw check/#1010158081128775387 (#8975)
  bklog/apps/middleware/apigw.py
Due: flake8, ip

chore: 标准排障API引入问题处理 --story=128834250 # Reviewed, transaction id: 65681
  bkmonitor/api/bk_incident/default.py
Due: flake8, ip

fix: 修复日志关键字使用部分汇聚方法查询无数据的问题 #1010158081150910208
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/packages/monitor_web/grafana/resources/log.py
Due: flake8, ip

feat: 日志管理页面重构-联调问题处理 #1010158081127851809
  bklog/apps/log_databus/handlers/collector_handler/log.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/log_access_views.py
  bklog/apps/log_search/constants.py
Due: flake8, ip

feat: CommonBaseResource添加itsm_v4_url地址
  bkmonitor/api/common/default.py
Due: flake8, ip

chore: 标准排障API引入问题处理 --story=128834250 # Reviewed, transaction id: 65682
  bkmonitor/api/bk_incident/default.py
Due: flake8, ip

chore: 标准排障API引入问题处理 --story=128834250 (#8977)
  bkmonitor/api/bk_incident/default.py
Due: flake8, ip

feat: 【APM 权限检查】检查 apm 权限时，使用 apm 权限检查接口 --Story=128773002 (#8945)
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.tsx
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/service/service-add.tsx
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.scss
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.tsx
  bkmonitor/webpack/src/apm/pages/service/service-config/configuration.tsx
Due: ip

fix: Metadata: 日志结果表迁移集群创建索引报错问题 #1010158081150911130
  bkmonitor/metadata/models/storage.py
Due: flake8, ip

fix: 修复AI模式样式和AI搜索底色调整以及高度调整
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/global/bk-space-choice/list.tsx
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.scss
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
Due: ip

fix: 上下文弹出ESC关闭取消滚动监听
  bklog/web/src/views/retrieve-v3/search-result/original-log/context-log/index.tsx
Due: ip

chore: MCP：日志MCP路由问题调整 --story=128846496 # Reviewed, transaction id: 65713
  bkmonitor/kernel_api/views/v4/__init__.py
  bkmonitor/kernel_api/views/v4/log_search.py
Due: flake8, ip

feat: 修复AI模式样式和AI搜索底色调整以及高度调整 & 下文弹出ESC关闭取消滚动监听 (#8981)
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/global/bk-space-choice/list.tsx
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.scss
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v3/search-result/original-log/context-log/index.tsx
Due: ip

feat: MCP：日志MCP路由问题调整 --story=128846496 (#8982)
  bkmonitor/kernel_api/views/v4/__init__.py
  bkmonitor/kernel_api/views/v4/log_search.py
Due: flake8, ip

feat: 日志管理页面重构-联调问题处理 #1010158081127851809
  bklog/apps/log_databus/handlers/collector_handler/log.py
  bklog/apps/log_search/constants.py
Due: flake8, ip

feat: AI检索支持时间范围更新 #1010158081128847209
  bklog/web/src/views/retrieve-v3/search-bar/index.tsx
Due: ip

feat: AI检索支持时间范围更新 --story=128847209 (#8983)
  bklog/web/src/views/retrieve-v3/search-bar/index.tsx
Due: ip

feat: 新增创建系统ID脚本 # Reviewed, transaction id: 65732
  bkmonitor/bkmonitor/management/commands/create_itsm_v4_system.py
Due: flake8, ip

feat: 告警新增容器告警目标 #1010158081128835240 # Reviewed, transaction id: 65735
  bkmonitor/alarm_backends/service/fta_action/action-itsm-plugin.md
  bkmonitor/api/unify_query/default.py
  bkmonitor/docs/development/monitoring-target-extension-guide.md
Due: flake8, ip

feat: TGPA日志上报 #1010158081128598394
  bklog/apps/tgpa/constants.py
  bklog/apps/tgpa/handlers/task.py
  bklog/apps/tgpa/views.py
  bklog/requirements.txt
Due: flake8, ip

feat: TGPA日志上报 #1010158081128598394
  bklog/apps/tgpa/handlers/task.py
Due: flake8, ip

feat: 调整注释
  bkmonitor/bkmonitor/management/commands/create_itsm_v4_system.py
Due: flake8, ip

feat: 补充单元测试 # Reviewed, transaction id: 65741
  bkmonitor/alarm_backends/tests/service/fta_action/test_common_processor.py
Due: flake8

fix: 修复设置表格字段显示隐藏无效的问题 # Reviewed, transaction id: 65744
  bklog/web/src/views/manage-v2/client-log/collection-slider/index.scss
  bklog/web/src/views/manage-v2/client-log/collection-slider/index.tsx
  bklog/web/src/views/manage-v2/client-log/components/log-table/index.tsx
  bklog/web/src/views/manage-v2/client-log/index.tsx
Due: ip

Path conditions:
  flake8: any of: \.py$
  ip: any file but: (?x)(
   ^scripts/sensitive_info_check/|
   requirements.txt$|
   bkmonitor/tests/.*.py|
   bkmonitor/bin/prom-aggregation-gateway|
   bkmonitor/static/monitor/js/main.*|
   bklog/version_logs_md/|
   bkmonitor/alarm_backends/tests/.*.py
)

