Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: scripts/pre-commit/preci.sh
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/sensitive_info_check/ip.sh
        language: script
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/
          )

feat: 采集下发英文名错误原因提示调整
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
Due: ip

feat: 调整排班计划更新方式，修复SaveUserGroup大量死锁异常 --story=117293326 (#1770)
  bkmonitor/bkmonitor/action/duty_manage.py
Due: flake8, ip

feat: 采集下发英文名错误原因提示调整 (#1790)
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
Due: ip

fix: 编辑解耦验收修复 (#1789)
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/log-clean/clean-manage/create.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/basic-info.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-storage.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
Due: ip

feat: add requirement
  bklog/requirements.txt
Due: none

fix: 【监控】数据量过多时，应用/服务接口相应过慢下拉列表没有显示加载状态
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
Due: ip

fix: 日志解耦步骤保存接口异常弹窗未关闭修复
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
Due: ip

fix: 日志解耦步骤保存接口异常弹窗未关闭修复 (#1791)
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
Due: ip

feat: bcs元数据任务优化 --story=117247249 (#1745)
  bkmonitor/api/bcs/tasks.py
  bkmonitor/api/bcs_storage/default.py
  bkmonitor/api/kubernetes/default.py
  bkmonitor/bkmonitor/models/bcs_base.py
  bkmonitor/bkmonitor/models/bcs_container.py
  bkmonitor/bkmonitor/models/bcs_pod.py
  bkmonitor/bkmonitor/utils/kubernetes.py
Due: flake8, ip

fix: 修复策略全量缓存失败的问题 #1010158081123870115
  bkmonitor/alarm_backends/core/cache/cmdb/service_template.py
  bkmonitor/alarm_backends/core/cache/cmdb/set_template.py
  bkmonitor/alarm_backends/core/cache/strategy.py
Due: flake8, ip

fix: 修复策略全量缓存失败的问题 --bug=123870115 (#1792)
  bkmonitor/alarm_backends/core/cache/cmdb/service_template.py
  bkmonitor/alarm_backends/core/cache/cmdb/set_template.py
  bkmonitor/alarm_backends/core/cache/strategy.py
Due: flake8, ip

feat: 接入unifyquery es 查询接口
  bklog/apps/api/__init__.py
  bklog/apps/api/modules/unifyquery.py
  bklog/apps/log_search/handlers/search/field_handlers.py
  bklog/apps/log_search/views/field_views.py
  bklog/apps/log_unifyquery/client.py
  bklog/apps/log_unifyquery/views.py
  bklog/config/domains.py
Due: flake8, ip

fix: 图表配置项增加全屏表格配置开关
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
Due: ip

feat: 删除ILM之前对ES集群RED的判断逻辑 #1010158081117328068
  bkmonitor/metadata/task/tasks.py
Due: flake8, ip

fix: 图表配置项增加全屏表格配置开关 (#1793)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
Due: ip

fix: 修复通知api调用成功sli数据不准的问题
  bkmonitor/bkmonitor/utils/send.py
Due: flake8, ip

fix: 【【监控】告警详情告警内容字段展示支持“\n”
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
Due: ip

feat: [APM] add simple_service_list interface
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/meta/views.py
  bkmonitor/webpack/src/monitor-api/modules/apm_meta.js
Due: flake8, ip

fix: 【【监控】告警详情告警内容字段展示支持“\n” --bug=123886560 (#1795)
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
Due: ip

fix: 优化 apm 定时任务查询 es 速率 #1010158081123881523
  bkmonitor/apm/core/discover/base.py
  bkmonitor/apm/utils/es_search.py
Due: flake8, ip

feat: 增加等待access data分片结果等待时间
  bkmonitor/alarm_backends/service/access/data/processor.py
Due: flake8, ip

feat: AIOps验证的一些问题 --bug=123889875 # Reviewed, transaction id: 7553
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-metric-select.tsx
Due: ip

fix: 优化 apm 定时任务查询 es 速率 --bug=123881523 (#1797)
  bkmonitor/apm/core/discover/base.py
  bkmonitor/apm/utils/es_search.py
Due: flake8, ip

feat: AIOps验证的一些问题 --bug=123889875 (#1798)
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-metric-select.tsx
Due: ip

feat: 删除ILM之前对ES集群RED的判断逻辑 --story=117328068 (#1794)
  bkmonitor/metadata/task/tasks.py
Due: flake8, ip

feat: 针对查询bcs vm结果表接口，返回对应的数据源ID
  bkmonitor/metadata/service/vm_storage.py
Due: flake8, ip

feat: [APM] 调整 tab 页面布局
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-instance.json
Due: ip

fix: 修复 APM ES 限流逻辑 #1010158081123914579
  bkmonitor/apm/utils/es_search.py
Due: flake8, ip

feat: profile支持新数据类型 # Reviewed, transaction id: 7583
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/use-flame.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/flame-graph.ts
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/valueFormats/dateTimeFormatters.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
Due: ip

fix: 修复 APM ES 限流逻辑 --bug=123914579 (#1800)
  bkmonitor/apm/utils/es_search.py
Due: flake8, ip

feat: 针对bksaas类型兼容多个插件更新功能
  bkmonitor/metadata/task/sync_space.py
Due: flake8, ip

fix: 修复 trace 数据获取失败
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/views.py
Due: flake8, ip

fix: 修复 trace 数据获取失败
  bkmonitor/packages/apm_web/profile/views.py
Due: flake8, ip

fix: 操作符为is时，value取值为列表会导致查询出错 #1010158081123920023
  bklog/apps/log_esquery/serializers.py
Due: flake8, ip

fix: 操作符为is时，value取值为列表会导致查询出错 --bug=123920023 (#1802)
  bklog/apps/log_esquery/serializers.py
Due: flake8, ip

feat: grafana/策略导出支持data_label转换 --story=116108051 (#1331)
  bkmonitor/api/grafana/exporter.py
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_web/export_import/resources.py
Due: flake8, ip
