Repository TencentBlueKing/bk-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, ip

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # 检查 merge conflict
      - id: check-merge-conflict
      # 检查 private key
      - id: detect-private-key

  # 将代码中的 python2 语法转换为 python3 语法
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.21.0
    hooks:
      - id: pyupgrade

  # black
  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
    - id: black
      language_version: python3
      args: [--config=pyproject.toml]

  # isort
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort
        additional_dependencies: ["toml"]
        args: [--settings-path=pyproject.toml]

  # 本地检查
  - repo: local
    hooks:
      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre-commit/pre-push.py
        language: system
        stages: [ push ]
        verbose: true

      # flake8
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: true
        entry: pflake8 --config=./pyproject.toml

      # PreCI 检查
      - id: check-pre-ci
        name: check pre ci
        entry: scripts/pre-commit/preci.sh
        language: system
        verbose: true

      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python scripts/pre-commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]

      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/sensitive_info_check/ip.sh
        language: script
        exclude: |
          (?x)(
             ^scripts/sensitive_info_check/|
             requirements.txt$|
             bkmonitor/tests/.*.py|
             bkmonitor/bin/prom-aggregation-gateway|
             bkmonitor/static/monitor/js/main.*|
             bklog/version_logs_md/
          )

perf: 更新指定结果表接入 vm 命令 #115874305
  bkmonitor/metadata/management/commands/access_bkdata_vm.py
Due: flake8, ip

chore: 原始日志展示优化
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
Due: ip

perf: 更新指定结果表接入 vm 命令 #115874305 (#936)
  bkmonitor/metadata/management/commands/access_bkdata_vm.py
Due: flake8, ip

minor: 根据mr意见修改代码，调整service去重方式为data_type+service_name
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/apm/core/discover/profile/base.py
  bkmonitor/apm/core/discover/profile/service.py
  bkmonitor/apm/core/handlers/profile/query.py
  bkmonitor/apm/migrations/0033_auto_20240111_1434.py
  bkmonitor/apm/models/profile.py
  bkmonitor/apm/task/tasks.py
Due: flake8, ip

feat: 删除多余cluster mertic的model定义
  bkmonitor/metadata/models/storage.py
Due: flake8, ip

minor: saas侧查询sample添加排序条件
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/resources.py
Due: flake8, ip

fix: 修复拨测导出KeyError报错 --bug=115819894 (#909)
  bkmonitor/packages/monitor_web/uptime_check/resources.py
Due: flake8, ip

minor: 调整定时任务配置
  bkmonitor/config/role/worker.py
Due: flake8, ip

minor: 解决冲突
  bkmonitor/packages/apm_web/profile/views.py
Due: flake8, ip

feat: 应用监控列表开发
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
Due: ip

minor: 调整graphviz版本因为python版本要求太高
  bkmonitor/requirements.txt
Due: none

feat: 以传入 interval 为主
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
Due: flake8, ip

Fix/log datasource exceed limit (#933)
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
Due: flake8, ip

feat：增加了 Profiling 服务探测以及相关 API
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/api/apm_api/default.py
  bkmonitor/api/bkdata/default.py
  bkmonitor/apm/apps.py
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/discover/profile/__init__.py
  bkmonitor/apm/core/discover/profile/base.py
  bkmonitor/apm/core/discover/profile/service.py
  bkmonitor/apm/core/handlers/profile/__init__.py
  bkmonitor/apm/core/handlers/profile/query.py
  bkmonitor/apm/migrations/0033_auto_20240111_1434.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/models/doris.py
  bkmonitor/apm/models/profile.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/task/tasks.py
  bkmonitor/apm/views.py
  bkmonitor/config/role/worker.py
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/requirements.txt
Due: flake8, ip

feat: 获取主机进程端口 get_ts_data 改造为unify_query --story=115845183 (#927)
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
Due: flake8, ip

feat: 代码优化
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
Due: flake8, ip

feat: 应用监控列表开发
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
Due: ip

fix: 查询ebpf数据时，兼容events的转换
  bkmonitor/apm/core/deepflow/base.py
Due: flake8, ip

fix: 修整日志CR问题和订阅列表详情异常 --story=885662873
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/types/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/types/index.ts
Due: ip

fix: 查询ebpf数据时，兼容events的转换 (#938)
  bkmonitor/apm/core/deepflow/base.py
Due: flake8, ip

fix: CMDB业务ID本地缓存与module冲突问题 #1010158081119385459
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/packages/fta_web/alert/handlers/alert.py
Due: flake8, ip

feat: profiling上传文件
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
Due: ip

fix: CMDB业务ID本地缓存与module冲突问题 --bug=119385459 (#940)
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/packages/fta_web/alert/handlers/alert.py
Due: flake8, ip

fix: 修整日志CR问题 --story=885662873
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/types/index.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Due: ip

fix: 修整日志CR问题和订阅列表详情异常 --story=885662873 (#939)
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/types/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Due: ip

fix: 修整日志CR问题和订阅列表详情异常 --story=885662873
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
Due: ip

fix: 修整i18n文本重复问题 --story=885662873
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Due: ip

fix: 修整日志CR问题 --story=885662873
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
Due: ip

fix: 修整i18n文本重复问题 --story=885662873 (#941)
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Due: ip

feat: 应用监控列表 (#930)
  bkmonitor/webpack/src/apm/pages/home/app-list-new.scss
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
Due: ip

feat: 针对数据源统一时间单位为 ms
  bkmonitor/metadata/management/commands/access_bkdata_vm.py
  bkmonitor/metadata/models/vm/utils.py
Due: flake8, ip

feat: 优化策略统计逻辑中，脏数据可能引起统计失败的情况 #1010158081115883625 [Reviewed by BK AIDev, transaction id: 1789]
  bkmonitor/packages/monitor_web/statistics/v2/strategy.py
Due: flake8, ip

fix: 仪表盘跳转策略和相关告警有问题 --bug=119060781 # Reviewed, transaction id: 1791
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Due: ip

fix: 仪表盘跳转策略和相关告警有问题 --bug=119060781 # Reviewed, transaction id: 1798
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.tsx
Due: ip

chore: 原始日志展示优化 --bug=119344483 (#935)
  bklog/web/src/common/util.js
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/index.vue
  bklog/web/src/views/retrieve/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/event-popover.vue
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.scss
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-event-popover.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Due: ip

feat: 告警分派优化 (#911)
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/typing/condition.ts
Due: ip

fix: 修复severity
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/plugin.yaml
Due: ip

feat: 多云告警插件创建及部署单元测试
  bkmonitor/tests/web/fta_actions/test_event_plugin_migrate.py
Due: flake8

fix: 公有云配置修正及补充指引 (#868)
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/plugin.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/tutorial.md
  bkmonitor/tests/web/fta_actions/test_event_plugin_migrate.py
Due: flake8, ip
